# Ouvrir les fichiers CSV avec Pandas

In [89]:
import pandas as pd
import numpy as np
#pd.set_option("max_rows", None)  #Préciser le nombre de lignes max

In [2]:
df_population = pd.read_csv("data/fr_population.csv")
df_animaux = pd.read_csv("data/fr_animaux.csv")
df_vegetaux = pd.read_csv("data/fr_vegetaux.csv")
df_cereales = pd.read_csv("data/fr_céréales.csv")
df_sous_alimentation = pd.read_csv("data/fr_sousalimentation.csv")
#df_population.shape #taille

## Aperçu génaral des données

In [3]:
df_population.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [4]:
df_population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

In [5]:
df_animaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN

In [6]:
df_animaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,3731.000000,5.720000e+02,2.397000e+03,3726.000000,3726.000000,3721.000000,3697.000000,3.731000e+03,3.021000e+03,3.638000e+03,3.726000e+03,4.050000e+02,2.959000e+03,2.070000e+02,2.290000e+02,1.411000e+03
mean,126.503082,2.080839e+08,2.116521e+07,26.137413,9.300939,1.841387,1.753652,4.337735e+08,8.429427e+07,7.214541e+07,3.799799e+08,6.628148e+07,5.430439e+08,3.109179e+07,4.510917e+06,2.664777e+06
std,74.746131,1.232665e+09,2.065427e+08,58.626273,31.313989,4.192599,3.819421,3.609314e+09,6.326664e+08,4.343456e+08,3.168325e+09,3.553305e+08,4.056536e+09,9.971779e+07,1.690339e+07,8.912819e+07
min,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-9.200000e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.900000e+07,-1.368000e+09
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.040000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+06,1.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,2.000000e+06,0.000000e+00,4.000000,1.050000,0.140000,0.210000,7.000000e+06,0.000000e+00,1.000000e+06,6.000000e+06,4.000000e+06,1.100000e+07,3.000000e+06,0.000000e+00,0.000000e+00
75%,188.500000,4.025000e+07,0.000000e+00,21.750000,5.067500,1.470000,1.560000,6.300000e+07,8.000000e+06,1.300000e+07,5.300000e+07,2.000000e+07,9.400000e+07,1.550000e+07,0.000000e+00,0.000000e+00
max,351.000000,2.275700e+10,5.972000e+09,541.000000,430.760000,41.020000,54.970000,1.334430e+11,1.894400e+10,9.780000e+09,1.058070e+11,4.878000e+09,1.356000e+11,7.620000e+08,1.210000e+08,2.210000e+09

In [7]:
df_vegetaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df_vegetaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,11971.000000,2.185000e+03,3.174000e+03,10607.000000,10381.000000,8156.000000,7944.000000,1.174700e+04,9.299000e+03,1.130800e+04,1.038100e+04,3.924000e+03,6.312000e+03,1.908000e+03,2.099000e+03,5.446000e+03
mean,126.798847,7.032165e+08,2.820882e+08,37.820873,8.519772,1.027108,0.976955,8.768406e+08,1.224432e+08,1.073828e+08,4.557699e+08,1.318073e+08,1.639227e+09,8.655608e+07,1.173341e+09,-2.241866e+07
std,75.131696,5.888047e+09,6.710769e+09,119.631129,21.822190,3.395135,3.459216,1.169398e+10,1.157923e+09,1.053807e+09,6.718243e+09,1.327714e+09,1.628231e+10,5.768070e+08,1.125034e+10,6.251325e+08
min,1.000000,0.000000e+00,0.000000e+00,-21.000000,-1.930000,-0.030000,-0.370000,-3.430000e+09,-4.100000e+07,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.000000e+00,-4.000000e+06,-3.986300e+10
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.060000,0.010000,0.010000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,5.000000e+06,1.000000e+06,4.000000,0.770000,0.070000,0.080000,7.000000e+06,0.000000e+00,2.000000e+06,5.000000e+06,4.000000e+06,3.200000e+07,2.000000e+06,9.000000e+06,0.000000e+00
75%,189.000000,9.400000e+07,1.400000e+07,21.000000,5.270000,0.430000,0.440000,8.600000e+07,9.000000e+06,2.000000e+07,5.600000e+07,2.800000e+07,2.850000e+08,1.900000e+07,8.650000e+07,0.000000e+00
max,351.000000,1.538020e+11,3.473090e+11,1711.000000,308.070000,60.760000,49.470000,7.392670e+11,4.279700e+10,6.556400e+10,4.300460e+11,5.504700e+10,7.392670e+11,1.706000e+10,3.267110e+11,5.284000e+09

In [9]:
df_cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [10]:
df_cereales.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,891.000000,891.0,891.000000,891.0,891.0,891.000000
mean,130.005612,5511.0,2551.648709,2013.0,2013.0,2832.037037
std,74.807040,0.0,96.152834,0.0,0.0,16786.590126
min,1.000000,5511.0,2511.000000,2013.0,2013.0,0.000000
25%,67.000000,5511.0,2514.000000,2013.0,2013.0,7.000000
50%,129.000000,5511.0,2516.000000,2013.0,2013.0,95.000000
75%,197.500000,5511.0,2518.000000,2013.0,2013.0,824.000000
max,276.000000,5511.0,2805.000000,2013.0,2013.0,353699.000000

In [11]:
df_sous_alimentation[df_sous_alimentation["Zone"]=='Algérie']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
15,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.7,F,Estimation FAO,NaN
16,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,1.6,F,Estimation FAO,NaN
17,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,1.6,F,Estimation FAO,NaN
18,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,1.6,F,Estimation FAO,NaN
19,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,1.6,F,Estimation FAO,NaN

In [12]:
df_sous_alimentation.describe()

         Code zone  Code Élément  Code Produit    Code année  Note
count  1020.000000        1020.0        1020.0  1.020000e+03   0.0
mean    129.264706        6132.0      210011.0  2.014202e+07   NaN
std      76.615019           0.0           0.0  1.415049e+04   NaN
min       1.000000        6132.0      210011.0  2.012201e+07   NaN
25%      62.500000        6132.0      210011.0  2.013202e+07   NaN
50%     127.500000        6132.0      210011.0  2.014202e+07   NaN
75%     193.250000        6132.0      210011.0  2.015202e+07   NaN
max     351.000000        6132.0      210011.0  2.016202e+07   NaN

# Réponse 1  : Nombre total d’humains sur la planète

In [13]:
df_population2013 = df_population[df_population['Code année']==2013]
df_population2013['Valeur'].sum() * 1000
#L'unité utilisé dans notre db est 1000 personnes

8413993000

<ul>
    <li> Pour le nombre total d'humains en 2013, nous avons obtenue : <b>8 413 993 000</b> personnes </li>
    <li>Or, selon <a href = https://www.worldbank.org/>la banque mondiale</a> la population mondiale en 2013 est 7,17 Md d'humaines </li>
    <li>Afin de clarifier notre résultat nous allons :      
        <ol>            
            <li>Vérifier si le nombre de population pour un pays donnée est calculé plusieurs fois</li>
            <li>Les valeurs manquantes pour année ou code année</li>
            <li>Observer les données <a href = https://www.fao.org/faostat/fr/#definitions>non officielles</a>  </li>                </ol>
    </li> 
</ul>

In [14]:
df_population2013['Zone'].value_counts()

Tchad                    1
Botswana                 1
Azerbaïdjan              1
Pakistan                 1
République de Moldova    1
                        ..
Colombie                 1
Malaisie                 1
Polynésie française      1
Serbie                   1
Égypte                   1
Name: Zone, Length: 175, dtype: int64

In [15]:
df_population2013['Code année'].isna().sum(),df_population2013['Année'].isna().sum()

(0, 0)

In [16]:
df_population2013[~df_population2013['Symbole'].isna()]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [17]:
df_Chine_A = df_population[df_population['Zone'].str.match(pat = '(^Chin.)')] 
df_Chine_A

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [18]:
df_Chine_A[df_Chine_A['Zone']!='Chine']['Valeur'].sum()

1416667

In [19]:
df_population2013['Code zone'].dtype

dtype('int64')

Nous remarquons que la population la zone chine est une agrégation de plusieurs autres zones, si nous calculons la somme de population de ces dernières, nous retouvons qu'elle est égale à la population chinoise, c'est pourquoi nous allons calculer la population mondiale sans prendre en considération la chine

In [20]:
df_population2013_sans_chine = df_population2013[~df_population2013['Code zone'].isin([41, 96,128,214])]

In [21]:
df_Chine_A = df_population2013_sans_chine[df_population2013_sans_chine['Zone'].str.match(pat = '(^Chin.)')] 
df_Chine_A

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [22]:


df_population2013_sans_agg = df_population2013[df_population2013['Zone']!='Chine']
# Pour confirmer que nous avons bien supprimer la chine de notre db:
#df_population2013_sans_agg[df_population2013_sans_agg['Zone'].str.match(pat = '(^Chin.)')]

In [23]:
# nb_population = df_population2013_sans_agg['Valeur'].sum() * 1000
nb_population = df_population2013_sans_chine['Valeur'].sum() * 1000
print(nb_population)

6997326000

=========================================================================== <br>
<B><I>Le nombre total d'humain en 2013 est 6997326000 </I></B> <br> ===========================================================================

<b> Suppression de la chine des autres bases de données </b>

In [24]:
# df_animaux = df_animaux[df_animaux['Zone']!='Chine']
# df_vegetaux = df_vegetaux[df_vegetaux['Zone']!='Chine']
# df_cereales = df_cereales[df_cereales['Zone']!='Chine']
# df_sous_alimentation = df_sous_alimentation[df_sous_alimentation['Zone']!='Chine']

# Réponse 2 : Equation à 3 termes

=========================================================================== <br>
<b><i>Disponibilité intérieure = <br>Production + Importations + |Variation de stock| - Exportations = 
<br>Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations (non alimentaire) + Nourriture
 </i></b>
=========================================================================== <br>

<strong><u> Exemple blé en france 2018 </u></strong>

In [25]:
# Données récupérées à partir du lien : https://www.fao.org/faostat/fr/#data/FBS
data_ble_france2018= pd.read_csv('data/ble_france_2018.csv')

In [26]:
data_ble_france2018.head(3)

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),68,France,5511,Production,2511,Blé et produits,2018,2018,Milliers de tonnes,35798,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2014-),68,France,5611,Importations - Quantité,2511,Blé et produits,2018,2018,Milliers de tonnes,2349,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2014-),68,France,5072,Variation de stock,2511,Blé et produits,2018,2018,Milliers de tonnes,-1819,Im,Données de la FAO basées sur une méthodologie ...

In [27]:
data_ble_france2018 = data_ble_france2018[['Code Élément', 'Élément', 'Unité', 'Valeur']]

In [28]:
#Le premier terme
terme1=data_ble_france2018[data_ble_france2018['Code Élément']==5301]['Valeur'].iloc[0] #valeur de disponibilité intérieur

In [29]:
#Le second terme
terme2=data_ble_france2018[data_ble_france2018['Code Élément']==5511]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5611]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5072]['Valeur'].abs() .iloc[0]- \
data_ble_france2018[data_ble_france2018['Code Élément']==5911]['Valeur'].iloc[0]

In [30]:
#Le troisième terme
terme3=data_ble_france2018[data_ble_france2018['Code Élément']==5521]['Valeur'].iloc[0] +\
    data_ble_france2018[data_ble_france2018['Code Élément']==5527]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5123]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5131]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5154]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5142]['Valeur'].iloc[0]

In [31]:
print('Terme1 = ',terme1)
print('Terme2 = ',terme2)
print('Terme2 = ',terme3)

Terme1 =  19521
Terme2 =  19520
Terme2 =  19521

 <b>Exemple blé en france en 2013 (à partir de notre db): voir projet3 archivé </b>

# Réponse 3 : Calculer pour chaque pays et chaque produit la disponibilité alimentaire en kcal puis en kg de protéines.

## Etape 1  : garder uniquement les colonnes importantes et rajouter une colonne "type" pour distinguer entre df_animaux et df_vegetaux

In [32]:
df_population1 = df_population2013_sans_agg[['Code zone','Valeur','Unité']]

In [33]:
#df_animaux1 = df_animaux [['Code zone', 'Zone','Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_animaux1 = df_animaux
df_animaux1 = df_animaux1.assign(Type = 'animal')

In [34]:
#df_vegetaux1 = df_vegetaux[['Code zone', 'Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_vegetaux1 = df_vegetaux
df_vegetaux1 = df_vegetaux1.assign(Type = 'vegetal')

## Etape 2  : concaténation entre df_animaux1 et df_vegetaux1

In [35]:
df_Alimentation1=pd.concat([df_animaux1,df_vegetaux1])

In [36]:
print('df_animaux1.shape =\t', df_animaux1.shape , '\ndf_vegetaux2.shape =\t',
      df_vegetaux1.shape,'\ndf_Alimentation1.shape =\t',df_Alimentation1.shape)

df_animaux1.shape =	 (3731, 19)
df_vegetaux2.shape =	 (11971, 19)
df_Alimentation1.shape =	 (15702, 19)

## Etape3 : Jointure à gauche entre df_Alimentation1, df_population1

In [37]:
df_alimentation_population = df_Alimentation1.merge( df_population1, on='Code zone', how="left", suffixes=('_produit','_population'))
print("df_Alimentation1.shape =\t",df_Alimentation1.shape,'\ndf_population1.shape =\t',df_population1.shape,
      '\ndf_alimentation_population.shape =',df_alimentation_population.shape)

df_Alimentation1.shape =	 (15702, 19)
df_population1.shape =	 (174, 3)
df_alimentation_population.shape = (15702, 21)

In [38]:
df_alimentation_population.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Valeur,Unité
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,...,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,...,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,...,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal,30552.0,1000 personnes
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,...,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,...,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552.0,1000 personnes

## Etape 4 : Calcul de disponibilité alimentaire en kcal puis en kg

### 1. Disponibilité alimentaire en kcal

In [39]:
# = 'Disponibilité alimentaire (Kcal/personne/jour)' * Nombre d'habitants * unité (1000)
# df_disponibilite_alimenatire = 
df_alimentation_population['Nb_Kcal'] = \
df_alimentation_population['Disponibilité alimentaire (Kcal/personne/jour)'] * df_alimentation_population['Valeur'] * 1000
df_disponibilité_alimentaire_kcal = df_alimentation_population[['Code zone','Zone','Produit','Nb_Kcal']]
df_disponibilité_alimentaire_kcal

# df_disponibilite_alimenatire[['Nb_Kcal','Code zone']].groupby(['Code zone']).sum()

       Code zone          Zone                 Produit       Nb_Kcal
0              2   Afghanistan        Abats Comestible  1.527600e+08
1              2   Afghanistan            Beurre, Ghee  7.026960e+08
2              2   Afghanistan                   Crème  9.165600e+07
3              2   Afghanistan  Graisses Animales Crue  3.666240e+08
4              2   Afghanistan      Lait - Excl Beurre  3.055200e+09
...          ...           ...                     ...           ...
15697         25  Îles Salomon                  Sésame  0.000000e+00
15698         25  Îles Salomon                     Thé  0.000000e+00
15699         25  Îles Salomon                 Tomates  0.000000e+00
15700         25  Îles Salomon                     Vin  0.000000e+00
15701         25  Îles Salomon          Épices, Autres  2.244000e+06

[15702 rows x 4 columns]

### 2. Disponibilité alimentaire en kg de protéines

In [40]:
# = Disponibilité de protéines en quantité (g/personne/jour) /1000 (g --> kg) * Nombre d'habitants * unité (1000)
df_alimentation_population['Nb_Kg_proteine'] = \
df_alimentation_population['Disponibilité de protéines en quantité (g/personne/jour)'] * df_alimentation_population['Valeur'] 
df_disponibilité_alimentaire_kg_proteine = df_alimentation_population[['Code zone','Zone','Produit','Nb_Kg_proteine']]
df_disponibilité_alimentaire_kg_proteine

# df_disponibilite_alimenatire[['Nb_Kg_proteine','Code zone']].groupby(['Code zone']).sum()

       Code zone          Zone                 Produit  Nb_Kg_proteine
0              2   Afghanistan        Abats Comestible        23525.04
1              2   Afghanistan            Beurre, Ghee          916.56
2              2   Afghanistan                   Crème         1222.08
3              2   Afghanistan  Graisses Animales Crue          305.52
4              2   Afghanistan      Lait - Excl Beurre       186978.24
...          ...           ...                     ...             ...
15697         25  Îles Salomon                  Sésame             NaN
15698         25  Îles Salomon                     Thé           22.44
15699         25  Îles Salomon                 Tomates             NaN
15700         25  Îles Salomon                     Vin             NaN
15701         25  Îles Salomon          Épices, Autres           84.15

[15702 rows x 4 columns]

# Réponse 4 :

## 1. Ratio "énergie/poids" (en kcal/kg) pour chaque produit et chaque pays

In [41]:
df_alimentation_population

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Valeur,Unité,Nb_Kcal,Nb_Kg_proteine
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,...,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes,1.527600e+08,23525.04
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,...,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes,7.026960e+08,916.56
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,...,NaN,NaN,NaN,NaN,NaN,animal,30552.0,1000 personnes,9.165600e+07,1222.08
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,...,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552.0,1000 personnes,3.666240e+08,305.52
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,...,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552.0,1000 personnes,3.055200e+09,186978.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN
15698,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,22.44
15699,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN
15700,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN
15701,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.000000e+00,...,NaN,0.000000e+00,NaN,NaN,NaN,vegetal,561.0,1000 personnes,2.244000e+06,84.15

In [42]:
df_alimentation_population['Disponibilite alimentaire (kcal)']= df_alimentation_population["Disponibilité alimentaire (Kcal/personne/jour)"]*df_alimentation_population["Valeur"]*1000 * 365
df_alimentation_population['Ratio Energie/poids (kcal/kg)'] = df_alimentation_population['Disponibilite alimentaire (kcal)']/ \
                        df_alimentation_population["Nourriture (kg/an)"]
df_ratio_energie_poids = df_alimentation_population[['Zone','Produit','Ratio Energie/poids (kcal/kg)']]

<Strong>Exemple :</Strong> <br>
Dans <a href='https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)'> Wikipedia </a> on trouve que l'apport énergitique <b> des oeufs crus</b> est de 147 kcal pour 100g, soit 1470 pour 1kg)

In [43]:
df_ratio_energie_poids[df_ratio_energie_poids['Produit']=='Oeufs']

                       Zone Produit  Ratio Energie/poids (kcal/kg)
5               Afghanistan   Oeufs                    1393.935000
22           Afrique du Sud   Oeufs                    1419.396632
44                  Albanie   Oeufs                    1331.866750
65                  Algérie   Oeufs                    1222.768481
87                Allemagne   Oeufs                    1405.130381
...                     ...     ...                            ...
3633    Émirats arabes unis   Oeufs                    1373.376494
3655               Équateur   Oeufs                    1322.116905
3677  États-Unis d'Amérique   Oeufs                    1401.723257
3698               Éthiopie   Oeufs                    1010.201912
3720           Îles Salomon   Oeufs                    1023.825000

[175 rows x 3 columns]

## 2. Ratio "poids de protéines/poids total" (en g/kg) pour chaque produit et chaque pays

In [44]:
df_alimentation_population

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Valeur,Unité,Nb_Kcal,Nb_Kg_proteine,Disponibilite alimentaire (kcal),Ratio Energie/poids (kcal/kg)
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,...,NaN,NaN,NaN,animal,30552.0,1000 personnes,1.527600e+08,23525.04,5.575740e+10,1052.026415
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,...,NaN,NaN,NaN,animal,30552.0,1000 personnes,7.026960e+08,916.56,2.564840e+11,7124.556667
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,...,NaN,NaN,NaN,animal,30552.0,1000 personnes,9.165600e+07,1222.08,3.345444e+10,1858.580000
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,...,NaN,NaN,NaN,animal,30552.0,1000 personnes,3.666240e+08,305.52,1.338178e+11,8921.184000
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,...,NaN,NaN,NaN,animal,30552.0,1000 personnes,3.055200e+09,186978.24,1.115148e+12,586.611257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN,0.000000e+00,NaN
15698,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.000000e+00,...,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,22.44,0.000000e+00,NaN
15699,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN,0.000000e+00,NaN
15700,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,...,NaN,NaN,NaN,vegetal,561.0,1000 personnes,0.000000e+00,NaN,0.000000e+00,NaN
15701,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.000000e+00,...,NaN,NaN,NaN,vegetal,561.0,1000 personnes,2.244000e+06,84.15,8.190600e+08,inf

In [45]:
df_alimentation_population['Disponibilite alimentaire proteine (kg)']= df_alimentation_population["Disponibilité de protéines en quantité (g/personne/jour)"]* 0.001 * df_alimentation_population["Valeur"]*1000 * 365
df_alimentation_population['Ratio protéine/poids (g/kg)'] = df_alimentation_population['Disponibilite alimentaire proteine (kg)']/ \
                        df_alimentation_population["Nourriture (kg/an)"]
# d

# df_alimentation_population['Ratio protéine/poids (g/kg)'] = df_alimentation_population["Disponibilité de protéines en quantité (g/personne/jour)"] / \
#                         df_alimentation_population["Disponibilité alimentaire en quantité (kg/personne/an)"]
df_ratio_proteine_poids = df_alimentation_population[['Zone','Produit','Ratio protéine/poids (g/kg)']]

<Strong>Exemple :</Strong> <br>
Dans <a href ='https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e'> Wikipedia </a> on trouve que<b> l'avoine</b> contient 10,70 g de proteine pour 100g, soit 107g par kg

In [46]:
df_ratio_proteine_poids[df_ratio_proteine_poids['Produit']=='Avoine'] #la moyenne: .['Ratio protéine/poids (g/kg)'].mean()

                        Zone Produit  Ratio protéine/poids (g/kg)
3785          Afrique du Sud  Avoine                     0.077053
3858                 Albanie  Avoine                          inf
3928                 Algérie  Avoine                          NaN
4000               Allemagne  Avoine                     0.114124
4072                  Angola  Avoine                          NaN
...                      ...     ...                          ...
15292                 Égypte  Avoine                     0.000000
15364    Émirats arabes unis  Avoine                          NaN
15434               Équateur  Avoine                     0.095332
15507  États-Unis d'Amérique  Avoine                     0.072954
15580               Éthiopie  Avoine                     0.114490

[168 rows x 3 columns]

# Réponse 5 :

 ### 1. Les 5 aliments les plus caloriques

<b> a . Suppression des valeurs manquantes, égales à 0 et/ou celles qui tendent vers l'infini</b>

In [47]:
print("Ancienne taille : ",df_ratio_energie_poids.shape)
df_ratio_energie_poids = df_ratio_energie_poids[~df_ratio_energie_poids.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
print("Nouvelle taille : ",df_ratio_energie_poids.shape)

Ancienne taille :  (15702, 3)
Nouvelle taille :  (8975, 3)

<b> b . Classement  décroissent des produits selon le ratio Energie/poids exprimé en kcal par kg</b>

In [48]:
Elts_caloriques = df_ratio_energie_poids.sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False).head(5)
Elts_caloriques

,Zone,Produit,Ratio Energie/poids (kcal/kg)
5974,Chili,Huil Plantes Oleif Autr,19293.900
12788,République de Corée,Huile d'Arachide,17980.995
12792,République de Corée,Huile de Germe de Maïs,17980.995
12154,Philippines,Huile d'Olive,17956.905
6490,Colombie,Huile de Sésame,17637.165

<b> c .Moyenne du ratio Energie/poids pour chaque produit </b>

In [49]:
df_moyenne_rapport_calorique = df_ratio_energie_poids.groupby("Produit").mean().sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False)
df_moyenne_rapport_calorique.tail(5)
df_moyenne_rapport_calorique.head(5)

                          Ratio Energie/poids (kcal/kg)
Produit
Huiles de Foie de Poisso                    9982.932500
Huile de Sésame                             9433.744729
Huile de Son de Riz                         9361.549883
Huiles de Poissons                          9003.715504
Huile d'Arachide                            8935.765811

In [50]:
df_moyenne_rapport_calorique.describe()

       Ratio Energie/poids (kcal/kg)
count                      94.000000
mean                     3142.901136
std                      3008.705826
min                       194.021951
25%                       665.979174
50%                      2529.870474
75%                      3681.683580
max                      9982.932500

 ### 2. Les 5 aliments les plus riches en proteine

<b> a . Suppression des valeurs manquantes, égales à 0 ou celles qui tendent vers l'infini</b>

In [51]:
print("Ancienne taille : ",df_ratio_proteine_poids.shape)
df_ratio_proteine_poids = df_ratio_proteine_poids[~df_ratio_proteine_poids.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
print("Nouvelle taille : ",df_ratio_proteine_poids.shape)

Ancienne taille :  (15702, 3)
Nouvelle taille :  (7851, 3)

<b> b . Classement  décroissent des aliments selon le ratio proteine/poids exprimé en g par kg</b>

In [52]:
Elts_proteinees = df_ratio_proteine_poids.sort_values(by='Ratio protéine/poids (g/kg)', ascending=False).head(5)
Elts_proteinees

           Zone Produit  Ratio protéine/poids (g/kg)
5239   Botswana    Soja                     0.442599
8249     Guyana    Soja                     0.423400
12263   Pologne    Soja                     0.418476
10432      Mali    Soja                     0.390966
4545   Autriche    Soja                     0.384848

<b> c .Moyenne du ratio Energie/poids pour chaque produit </b>

In [53]:
df_moyenne_rapport_proteine = df_ratio_proteine_poids.groupby("Produit").mean().sort_values(by='Ratio protéine/poids (g/kg)', ascending=False)
df_moyenne_rapport_proteine.head(5)

                        Ratio protéine/poids (g/kg)
Produit
Graines Colza/Moutarde                     0.285365
Soja                                       0.285331
Arachides Decortiquees                     0.251466
Pois                                       0.223244
Légumineuses Autres                        0.219716

#  Réponse 6 Bis : Remplacer la colonne de kcal par la moyenne

In [54]:
df_moyenne_rapport_calorique.rename(columns = {'Ratio Energie/poids (kcal/kg)':'Moyenne ratio Energie/poids (kcal/kg)'}, inplace = True)
df_moyenne_rapport_calorique.reset_index()

                     Produit  Moyenne ratio Energie/poids (kcal/kg)
0   Huiles de Foie de Poisso                            9982.932500
1            Huile de Sésame                            9433.744729
2        Huile de Son de Riz                            9361.549883
3         Huiles de Poissons                            9003.715504
4           Huile d'Arachide                            8935.765811
..                       ...                                    ...
89              Pamplemousse                             249.847529
90           Agrumes, Autres                             248.981045
91        Mollusques, Autres                             241.661334
92                   Tomates                             206.074377
93           Citrons & Limes                             194.021951

[94 rows x 2 columns]

In [80]:
df_alimentation_vegetal2 =  df_alimentation_vegetal.merge(df_moyenne_rapport_calorique,how="left",on='Produit')

In [81]:
df_alimentation_vegetal2[df_alimentation_vegetal2['Produit']=="Citrons & Limes"]

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Type,Valeur,Unité,Nb_Kcal,Nb_Kg_proteine,Disponibilite alimentaire (kcal),Ratio Energie/poids (kcal/kg),Disponibilite alimentaire proteine (kg),Ratio protéine/poids (g/kg),Moyenne ratio Energie/poids (kcal/kg)
62,Afrique du Sud,202,Citrons & Limes,NaN,NaN,0.0,0.38,0.00,0.00,3.300000e+07,...,vegetal,52776.0,1000 personnes,0.0,0.00,0.000000e+00,0.000000,0.00,0.000000,194.021951
135,Albanie,3,Citrons & Limes,NaN,NaN,1.0,1.55,0.01,0.03,5.000000e+06,...,vegetal,3173.0,1000 personnes,3173000.0,95.19,1.158145e+09,231.629000,34744.35,0.006949,194.021951
205,Algérie,4,Citrons & Limes,NaN,NaN,1.0,1.91,0.02,0.02,8.300000e+07,...,vegetal,39208.0,1000 personnes,39208000.0,784.16,1.431092e+10,190.812267,286218.40,0.003816,194.021951
277,Allemagne,79,Citrons & Limes,NaN,NaN,1.0,1.51,0.02,0.02,1.290000e+08,...,vegetal,82727.0,1000 personnes,82727000.0,1654.54,3.019536e+10,241.562840,603907.10,0.004831,194.021951
410,Antigua-et-Barbuda,8,Citrons & Limes,NaN,0.0,2.0,4.53,0.03,0.06,0.000000e+00,...,vegetal,90.0,1000 personnes,180000.0,5.40,6.570000e+07,inf,1971.00,inf,194.021951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11569,Égypte,59,Citrons & Limes,NaN,NaN,2.0,3.15,0.02,0.04,2.890000e+08,...,vegetal,82056.0,1000 personnes,164112000.0,3282.24,5.990088e+10,231.277529,1198017.60,0.004626,194.021951
11640,Émirats arabes unis,225,Citrons & Limes,NaN,9000000.0,3.0,7.00,0.04,0.11,8.300000e+07,...,vegetal,9346.0,1000 personnes,28038000.0,1028.06,1.023387e+10,157.444154,375241.90,0.005773,194.021951
11711,Équateur,58,Citrons & Limes,NaN,NaN,0.0,0.32,0.00,0.00,5.000000e+06,...,vegetal,15738.0,1000 personnes,0.0,0.00,0.000000e+00,0.000000,0.00,0.000000,194.021951
11784,États-Unis d'Amérique,231,Citrons & Limes,NaN,1000000.0,3.0,9.39,0.03,0.09,3.071000e+09,...,vegetal,320051.0,1000 personnes,960153000.0,28804.59,3.504558e+11,116.663064,10513675.35,0.003500,194.021951
11856,Éthiopie,238,Citrons & Limes,NaN,NaN,0.0,0.04,0.00,0.00,4.000000e+06,...,vegetal,94101.0,1000 personnes,0.0,0.00,0.000000e+00,0.000000,0.00,0.000000,194.021951

In [85]:
df_vegetal_interieur2 = df_alimentation_vegetal2[['Zone','Produit','Disponibilité intérieure (kg/an)','Moyenne ratio Energie/poids (kcal/kg)','Ratio protéine/poids (g/kg)']]

In [87]:
 df_vegetal_interieur2 = df_vegetal_interieur2[~df_vegetal_interieur2.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
# df_vegetal_interieur2

In [88]:
df_vegetal_interieur2['Disponibilité intérieure (kcal/an)'] = df_vegetal_interieur2["Disponibilité intérieure (kg/an)"] * \
    df_vegetal_interieur2["Moyenne ratio Energie/poids (kcal/kg)"] 
total_disponibilite_interieur_vegetal_kcal2 = df_vegetal_interieur2['Disponibilité intérieure (kcal/an)'].sum()
print('total_disponibilite_interieur_vegetal_kcal 2 = ',total_disponibilite_interieur_vegetal_kcal2)

total_disponibilite_interieur_vegetal_kcal 2 =  1.0861546459144128e+16

In [ ]:
bis6 =total_disponibilite_interieur_vegetal_kcal2 / (2500 * 365)
pourcentage_bis6 = bis6 *100/nb_population
print ('nombre_personne_nourris_disponibilite_interieur_vegetal_kcal =', bis6)
print('pourcentage_nourris_disponibilite_interieur_vegetal_kcal =', pourcentage_bis6,'%')

#  Réponse 6 : Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement

In [71]:
df_alimentation_vegetal = df_alimentation_population.loc[df_alimentation_population['Type'] == 'vegetal']

In [72]:
df_alimentation_vegetal

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Variation de stock (kg/an),Type,Valeur,Unité,Nb_Kcal,Nb_Kg_proteine,Disponibilite alimentaire (kcal),Ratio Energie/poids (kcal/kg),Disponibilite alimentaire proteine (kg),Ratio protéine/poids (g/kg)
3731,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,...,NaN,vegetal,30552.0,1000 personnes,30552000.0,611.04,1.115148e+10,285.935385,223029.60,0.005719
3732,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,...,NaN,vegetal,30552.0,1000 personnes,30552000.0,916.56,1.115148e+10,5575.740000,334544.40,0.167272
3733,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,...,NaN,vegetal,30552.0,1000 personnes,0.0,NaN,0.000000e+00,NaN,NaN,NaN
3734,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,...,NaN,vegetal,30552.0,1000 personnes,122208000.0,1527.60,4.460592e+10,543.974634,557574.00,0.006800
3735,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,...,NaN,vegetal,30552.0,1000 personnes,0.0,0.00,0.000000e+00,0.000000,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,...,NaN,vegetal,561.0,1000 personnes,0.0,NaN,0.000000e+00,NaN,NaN,NaN
15698,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,...,NaN,vegetal,561.0,1000 personnes,0.0,22.44,0.000000e+00,NaN,8190.60,inf
15699,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,...,NaN,vegetal,561.0,1000 personnes,0.0,NaN,0.000000e+00,NaN,NaN,NaN
15700,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,...,NaN,vegetal,561.0,1000 personnes,0.0,NaN,0.000000e+00,NaN,NaN,NaN
15701,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,...,NaN,vegetal,561.0,1000 personnes,2244000.0,84.15,8.190600e+08,inf,30714.75,inf

In [66]:
#df_alimentation_vegetal =df_alimentation_vegetal.fillna(value = 0)

In [78]:
df_vegetal_interieur = df_alimentation_vegetal[['Zone','Produit','Disponibilité intérieure (kg/an)','Ratio Energie/poids (kcal/kg)','Ratio protéine/poids (g/kg)']]
df_vegetal_interieur

,Zone,Produit,Disponibilité intérieure (kg/an),Ratio Energie/poids (kcal/kg),Ratio protéine/poids (g/kg)
3731,Afghanistan,"Agrumes, Autres",41000000.0,285.935385,0.005719
3732,Afghanistan,Aliments pour enfants,2000000.0,5575.740000,0.167272
3733,Afghanistan,Ananas,0.0,NaN,NaN
3734,Afghanistan,Bananes,82000000.0,543.974634,0.006800
3735,Afghanistan,Bière,3000000.0,0.000000,0.000000
...,...,...,...,...,...
15697,Îles Salomon,Sésame,0.0,NaN,NaN
15698,Îles Salomon,Thé,0.0,NaN,inf
15699,Îles Salomon,Tomates,0.0,NaN,NaN
15700,Îles Salomon,Vin,0.0,NaN,NaN
15701,Îles Salomon,"Épices, Autres",0.0,inf,inf

In [76]:
 df_vegetal_interieur = df_vegetal_interieur[~df_vegetal_interieur.isin([np.nan, np.inf, -np.inf]).any(1)]
# df_vegetal_interieur

In [77]:
df_vegetal_interieur['Disponibilité intérieure (kcal/an)'] = df_vegetal_interieur["Disponibilité intérieure (kg/an)"] * \
    df_vegetal_interieur["Ratio Energie/poids (kcal/kg)"] 
total_disponibilite_interieur_vegetal_kcal = df_vegetal_interieur['Disponibilité intérieure (kcal/an)'].sum()
print('total_disponibilite_interieur_vegetal_kcal = ',total_disponibilite_interieur_vegetal_kcal)

df_alimentation_population['Ratio Energie/poids (kcal/kg)']

total_disponibilite_interieur_vegetal_kcal =  1.0946326768132916e+16

<ipython-input-77-5a80b3d8ef83>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vegetal_interieur['Disponibilité intérieure (kcal/an)'] = df_vegetal_interieur["Disponibilité intérieure (kg/an)"] * \

0        1052.026415
1        7124.556667
2        1858.580000
3        8921.184000
4         586.611257
            ...
15697            NaN
15698            NaN
15699            NaN
15700            NaN
15701            inf
Name: Ratio Energie/poids (kcal/kg), Length: 15702, dtype: float64

============================================================================================================ <br>
Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  <b>1.2785720686493294e+16</b> <br>
============================================================================================================

In [62]:
df_vegetal_interieur['Disponibilité intérieure en proteine (g/an)'] = df_vegetal_interieur["Disponibilité intérieure (kg/an)"] * \
    df_vegetal_interieur["Ratio protéine/poids (g/kg)"] 
total_disponibilite_interieur_vegetal_proteine = df_vegetal_interieur['Disponibilité intérieure en proteine (g/an)'].sum()
print('total_disponibilite_interieur_vegetal_proteine = ',total_disponibilite_interieur_vegetal_proteine)

total_disponibilite_interieur_vegetal_proteine =  276971530485.8329

============================================================================================================ <br>
Disponibilité intérieure mondiale en proteine pour les produits végétaux uniquement =  <b>354777445872.5119 g</b> <br>
============================================================================================================

# Réponse 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

La ration alimentaire moyenne nécessaire est de <b>2 500 kcal/personne/jour</b>. [Source <a href="https://fr.wikipedia.org/wiki/Ration_alimentaire#cite_note-2">Wikipedia</a> ]

In [ ]:


nombre_personne_nourris_disponibilite_interieur_vegetal_kcal =total_disponibilite_interieur_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_kcal = nombre_personne_nourris_disponibilite_interieur_vegetal_kcal *100/nb_population
print ('nombre_personne_nourris_disponibilite_interieur_vegetal_kcal =', nombre_personne_nourris_disponibilite_interieur_vegetal_kcal)
print('pourcentage_nourris_disponibilite_interieur_vegetal_kcal =', pourcentage_nourris_disponibilite_interieur_vegetal_kcal,'%')

nombre_personne_nourris_disponibilite_interieur_vegetal_kcal = 14011748697.526897
pourcentage_nourris_disponibilite_interieur_vegetal_kcal = 200.2443318708732 %

L'ANSES recommande un apport nutritionnel conseillé (ANC) de 0,83 g·kg-1·j-1, pour un maximum de 2,2 g·kg-1·j-1 chez l’adulte en bonne santé, soit 62 g par jour pour un homme de 75 kg. Il faut noter que les ANC sont supérieurs aux besoins moyens qui sont de 0,66 g·kg-1·j-1 selon ce même rapport, ce qui donnerait 49,5 g par jour pour le cas précédent.

Les besoins moyens en protéines ont été définis par la FAO qui recommande 49 g de protéines pour l'hommes adultes et 41 g pour les femmes (47 si enceintes, 58,5 si allaitantes).
https://fr.wikipedia.org/wiki/Prot%C3%A9ine

In [ ]:
nombre_personne_nourris_disponibilite_interieur_vegetal_proteine =total_disponibilite_interieur_vegetal_proteine / (49 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = nombre_personne_nourris_disponibilite_interieur_vegetal_proteine *100/nb_population
print ('nombre_personne_nourris_disponibilite_interieur_vegetal_proteine =', nombre_personne_nourris_disponibilite_interieur_vegetal_proteine)
print('pourcentage_nourris_disponibilite_interieur_vegetal_proteine =', pourcentage_nourris_disponibilite_interieur_vegetal_proteine,'%')

nombre_personne_nourris_disponibilite_interieur_vegetal_proteine = 19836591885.519257 <br>
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = 283.48817656229335 %

# Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [ ]:
df_alimentation_vegetal

In [ ]:
df_alimentation_vegetal.columns

In [ ]:
perte_animaux = (df_alimentation_vegetal.loc[:,'Aliments pour animaux (kg/an)']+df_alimentation_vegetal.loc[:,'Pertes (kg/an)']) \
                 * df_alimentation_vegetal.loc[:,"Ratio Energie/poids (kcal/kg)"]

In [ ]:
df_alimentation_vegetal.loc[:,'Disponibilite sans perte'] = perte_animaux + (df_alimentation_vegetal.loc[:,"Disponibilité alimentaire (Kcal/personne/jour)"] * 365)

In [ ]:
df_alimentation_vegetal

In [ ]:
df_alimentation_vegetal.columns

In [ ]:
a = df_alimentation_vegetal.loc[:,'Aliments pour animaux (kg/an)']* df_alimentation_vegetal.loc[:,"Ratio Energie/poids (kcal/kg)"]

In [ ]:
b = df_alimentation_vegetal.loc[:,"Disponibilité alimentaire (Kcal/personne/jour)"] * 365

In [ ]:
c =df_alimentation_vegetal.loc[:,'Pertes (kg/an)'] * df_alimentation_vegetal.loc[:,"Ratio Energie/poids (kcal/kg)"]

In [ ]:
a.fillna(0).sum() + b.fillna(0).sum() + c.fillna(0).sum()

In [ ]:
#df_alimentation_vegetal

In [ ]:
print(k)
print(total_disponibilite_sans_perte_vegetal_kcal)

In [ ]:
df_disponibilité_sans_perte_kcal = df_alimentation_vegetal[['Zone','Code zone','Produit','Disponibilite sans perte']]

In [ ]:
total_disponibilite_sans_perte_vegetal_kcal = df_disponibilité_sans_perte_kcal[~df_disponibilité_sans_perte_kcal.isin([np.nan, np.inf, -np.inf, 0]).any(1)]['Disponibilite sans perte'].sum()
total_disponibilite_sans_perte_vegetal_kcal

In [ ]:
nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =total_disponibilite_sans_perte_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal *100/nb_population
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =', nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal =', pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal,'%')

# REMPLACER LES VALEURS NULL PAR 0 ?????????

In [ ]:
df_alimentation_vegetal2.columns

In [ ]:
df_alimentation_vegetal2.groupby('Produit').sum().reset_index()

In [ ]:
df_alimentation_vegetal2[['Produit', 'Aliments pour animaux (kg/an)',  
                          'Disponibilité alimentaire (Kcal/personne/jour)',
                          'Disponibilité alimentaire en quantité (kg/personne/an)', 
                          'Nourriture (kg/an)',  'Pertes (kg/an)', 'Ratio Energie/poids (kcal/kg)',
                          'Disponibilite sans perte','Moyenne ratio Energie/poids (kcal/kg)']]

In [ ]:
a

In [ ]:
a = df_cereales["Produit"].drop_duplicates()