# Lecture des fichiers CSV avec Pandas

In [1]:
import pandas as pd
import numpy as np
#pd.set_option("max_rows", None)  #Préciser le nombre de lignes max

In [2]:
# Lecture des fichiers CSV 
df_population = pd.read_csv("data/fr_population.csv")
df_animaux = pd.read_csv("data/fr_animaux.csv")
df_vegetaux = pd.read_csv("data/fr_vegetaux.csv")
df_cereales = pd.read_csv("data/fr_céréales.csv")
df_sous_alimentation = pd.read_csv("data/fr_sousalimentation.csv")

In [3]:
# Suppression des données dupliquées
df_population.drop_duplicates(keep='first', inplace=True, ignore_index=True)
df_animaux.drop_duplicates(keep='first', inplace=True, ignore_index=True)
df_vegetaux.drop_duplicates(keep='first', inplace=True, ignore_index=True)
df_vegetaux.drop_duplicates(keep='first', inplace=True, ignore_index=True)
df_sous_alimentation.drop_duplicates(keep='first', inplace=True, ignore_index=True)

In [115]:
df_animaux.columns

Index(['Zone', 'Code zone', 'Produit', 'Aliments pour animaux (kg/an)',
       'Autres utilisations (non alimentaire) (kg/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure (kg/an)', 'Exportations - Quantité (kg/an)',
       'Importations - Quantité (kg/an)', 'Nourriture (kg/an)',
       'Pertes (kg/an)', 'Production (kg/an)', 'Semences (kg/an)',
       'Traitement (kg/an)', 'Variation de stock (kg/an)'],
      dtype='object')

# Aperçu génaral des données

In [4]:
df_population.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [5]:
df_population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

In [6]:
df_animaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN

In [7]:
df_animaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,3731.000000,5.720000e+02,2.397000e+03,3726.000000,3726.000000,3721.000000,3697.000000,3.731000e+03,3.021000e+03,3.638000e+03,3.726000e+03,4.050000e+02,2.959000e+03,2.070000e+02,2.290000e+02,1.411000e+03
mean,126.503082,2.080839e+08,2.116521e+07,26.137413,9.300939,1.841387,1.753652,4.337735e+08,8.429427e+07,7.214541e+07,3.799799e+08,6.628148e+07,5.430439e+08,3.109179e+07,4.510917e+06,2.664777e+06
std,74.746131,1.232665e+09,2.065427e+08,58.626273,31.313989,4.192599,3.819421,3.609314e+09,6.326664e+08,4.343456e+08,3.168325e+09,3.553305e+08,4.056536e+09,9.971779e+07,1.690339e+07,8.912819e+07
min,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-9.200000e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.900000e+07,-1.368000e+09
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.040000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+06,1.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,2.000000e+06,0.000000e+00,4.000000,1.050000,0.140000,0.210000,7.000000e+06,0.000000e+00,1.000000e+06,6.000000e+06,4.000000e+06,1.100000e+07,3.000000e+06,0.000000e+00,0.000000e+00
75%,188.500000,4.025000e+07,0.000000e+00,21.750000,5.067500,1.470000,1.560000,6.300000e+07,8.000000e+06,1.300000e+07,5.300000e+07,2.000000e+07,9.400000e+07,1.550000e+07,0.000000e+00,0.000000e+00
max,351.000000,2.275700e+10,5.972000e+09,541.000000,430.760000,41.020000,54.970000,1.334430e+11,1.894400e+10,9.780000e+09,1.058070e+11,4.878000e+09,1.356000e+11,7.620000e+08,1.210000e+08,2.210000e+09

In [8]:
df_vegetaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN

In [9]:
df_vegetaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,11971.000000,2.185000e+03,3.174000e+03,10607.000000,10381.000000,8156.000000,7944.000000,1.174700e+04,9.299000e+03,1.130800e+04,1.038100e+04,3.924000e+03,6.312000e+03,1.908000e+03,2.099000e+03,5.446000e+03
mean,126.798847,7.032165e+08,2.820882e+08,37.820873,8.519772,1.027108,0.976955,8.768406e+08,1.224432e+08,1.073828e+08,4.557699e+08,1.318073e+08,1.639227e+09,8.655608e+07,1.173341e+09,-2.241866e+07
std,75.131696,5.888047e+09,6.710769e+09,119.631129,21.822190,3.395135,3.459216,1.169398e+10,1.157923e+09,1.053807e+09,6.718243e+09,1.327714e+09,1.628231e+10,5.768070e+08,1.125034e+10,6.251325e+08
min,1.000000,0.000000e+00,0.000000e+00,-21.000000,-1.930000,-0.030000,-0.370000,-3.430000e+09,-4.100000e+07,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.000000e+00,-4.000000e+06,-3.986300e+10
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.060000,0.010000,0.010000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,5.000000e+06,1.000000e+06,4.000000,0.770000,0.070000,0.080000,7.000000e+06,0.000000e+00,2.000000e+06,5.000000e+06,4.000000e+06,3.200000e+07,2.000000e+06,9.000000e+06,0.000000e+00
75%,189.000000,9.400000e+07,1.400000e+07,21.000000,5.270000,0.430000,0.440000,8.600000e+07,9.000000e+06,2.000000e+07,5.600000e+07,2.800000e+07,2.850000e+08,1.900000e+07,8.650000e+07,0.000000e+00
max,351.000000,1.538020e+11,3.473090e+11,1711.000000,308.070000,60.760000,49.470000,7.392670e+11,4.279700e+10,6.556400e+10,4.300460e+11,5.504700e+10,7.392670e+11,1.706000e+10,3.267110e+11,5.284000e+09

In [10]:
df_cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [11]:
df_cereales.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,891.000000,891.0,891.000000,891.0,891.0,891.000000
mean,130.005612,5511.0,2551.648709,2013.0,2013.0,2832.037037
std,74.807040,0.0,96.152834,0.0,0.0,16786.590126
min,1.000000,5511.0,2511.000000,2013.0,2013.0,0.000000
25%,67.000000,5511.0,2514.000000,2013.0,2013.0,7.000000
50%,129.000000,5511.0,2516.000000,2013.0,2013.0,95.000000
75%,197.500000,5511.0,2518.000000,2013.0,2013.0,824.000000
max,276.000000,5511.0,2805.000000,2013.0,2013.0,353699.000000

In [12]:
df_sous_alimentation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [13]:
df_sous_alimentation.describe()

         Code zone  Code Élément  Code Produit    Code année  Note
count  1020.000000        1020.0        1020.0  1.020000e+03   0.0
mean    129.264706        6132.0      210011.0  2.014202e+07   NaN
std      76.615019           0.0           0.0  1.415049e+04   NaN
min       1.000000        6132.0      210011.0  2.012201e+07   NaN
25%      62.500000        6132.0      210011.0  2.013202e+07   NaN
50%     127.500000        6132.0      210011.0  2.014202e+07   NaN
75%     193.250000        6132.0      210011.0  2.015202e+07   NaN
max     351.000000        6132.0      210011.0  2.016202e+07   NaN

# Réponse 1  : Nombre total d’humains sur la planète

In [14]:
df_population2013 = df_population[df_population['Code année']==2013].copy()
df_population2013['Valeur'].sum() * 1000
#L'unité utilisé dans notre db est 1000 personnes

8413993000

## Critique du résultat obtenu

<ul>
    <li> Pour le nombre total d'humains en 2013, nous avons obtenue : <b>8 413 993 000</b> personnes </li>
    <li>Or, selon <a href = https://www.worldbank.org/>la banque mondiale</a> la population mondiale en 2013 est environ 7 Md d'humaines </li>
    <li>Afin de clarifier notre résultat nous allons :      
        <ol>            
            <li>Vérifier si le nombre de population pour un pays donnée est calculé plusieurs fois</li>
            <li>Les valeurs manquantes pour année ou code année</li>
            <li>Observer les données <a href = https://www.fao.org/faostat/fr/#definitions>non officielles</a>  </li>                </ol>
    </li> 
</ul>

In [15]:
df_population2013['Zone'].value_counts()

Tunisie                      1
Lettonie                     1
Roumanie                     1
Haïti                        1
Malte                        1
                            ..
République de Moldova        1
Kazakhstan                   1
Chine, Taiwan Province de    1
Soudan                       1
Cabo Verde                   1
Name: Zone, Length: 175, dtype: int64

In [16]:
df_population2013['Code année'].isna().sum(),df_population2013['Année'].isna().sum()

(0, 0)

In [17]:
df_population2013[~df_population2013['Symbole'].isna()]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [18]:
df_Chine_A = df_population[df_population['Zone'].str.match(pat = '(^Chin.)')] 
df_Chine_A

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [19]:
df_Chine_A[df_Chine_A['Zone']!='Chine']['Valeur'].sum()

1416667

Nous remarquons que la population la zone chine est une agrégation de plusieurs autres zones, si nous calculons la somme de population de ces dernières, nous retouvons qu'elle est égale à la population chinoise, c'est pourquoi nous allons calculer la population mondiale sans prendre en considération la chine

## Suppression des aggrégations de la chine de toutes les dataframes

In [20]:
df_population = df_population2013[~df_population2013['Code zone'].isin([41, 96,128,214])].copy()
df_animaux = df_animaux[~df_animaux['Code zone'].isin([41, 96,128,214])].copy()
df_vegetaux = df_vegetaux[~df_vegetaux['Code zone'].isin([41, 96,128,214])].copy()
df_cereales = df_cereales[~df_cereales['Code zone'].isin([41, 96,128,214])].copy()
df_sous_alimentation = df_sous_alimentation[~df_sous_alimentation['Code zone'].isin([41, 96,128,214])].copy()

In [21]:
#df_population2013_sans_chine = df_population2013[df_population2013['Zone']!='Chine']
# Pour confirmer que nous avons bien supprimer la chine de notre db:
#df_population2013_sans_agg[df_population2013_sans_agg['Zone'].str.match(pat = '(^Chin.)')]

In [22]:
# nb_population = df_population2013_sans_agg['Valeur'].sum() * 1000
nb_population = df_population['Valeur'].sum() * 1000
print(nb_population)

6997326000

============================================================== <br>
<B><I>Le nombre total d'humain en 2013 est 6997326000 </I></B> <br> ==============================================================

## Suppression de la chine des autres bases de données

In [23]:
#df_animaux = df_animaux[df_animaux['Zone']!='Chine'].copy()
#df_vegetaux = df_vegetaux[df_vegetaux['Zone']!='Chine'].copy()
# df_cereales = df_cereales[df_cereales['Zone']!='Chine'].copy()
# df_sous_alimentation = df_sous_alimentation[df_sous_alimentation['Zone']!='Chine'].copy()

# Réponse 2 : Equation à 3 termes

======================================================================= <br>
<b><i>Disponibilité intérieure = <br>Production + Importations + |Variation de stock| - Exportations = 
<br>Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations (non alimentaire) + Nourriture
 </i></b>
======================================================================= <br>

<strong><u> Exemple blé en france 2018 </u></strong>

In [24]:
# Données récupérées à partir du lien : https://www.fao.org/faostat/fr/#data/FBS
data_ble_france2018= pd.read_csv('data/ble_france_2018.csv')

In [25]:
data_ble_france2018.head(3)

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),68,France,5511,Production,2511,Blé et produits,2018,2018,Milliers de tonnes,35798,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2014-),68,France,5611,Importations - Quantité,2511,Blé et produits,2018,2018,Milliers de tonnes,2349,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2014-),68,France,5072,Variation de stock,2511,Blé et produits,2018,2018,Milliers de tonnes,-1819,Im,Données de la FAO basées sur une méthodologie ...

In [26]:
data_ble_france2018 = data_ble_france2018[['Code Élément', 'Élément', 'Unité', 'Valeur']].copy()

In [27]:
#Le premier terme
terme1=data_ble_france2018[data_ble_france2018['Code Élément']==5301]['Valeur'].iloc[0] #valeur de disponibilité intérieur

In [28]:
#Le second terme
terme2=data_ble_france2018[data_ble_france2018['Code Élément']==5511]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5611]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5072]['Valeur'].abs() .iloc[0]- \
data_ble_france2018[data_ble_france2018['Code Élément']==5911]['Valeur'].iloc[0]

In [29]:
#Le troisième terme
terme3=data_ble_france2018[data_ble_france2018['Code Élément']==5521]['Valeur'].iloc[0] +\
    data_ble_france2018[data_ble_france2018['Code Élément']==5527]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5123]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5131]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5154]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5142]['Valeur'].iloc[0]

In [30]:
print('Terme1 = ',terme1)
print('Terme2 = ',terme2)
print('Terme2 = ',terme3)

Terme1 =  19521
Terme2 =  19520
Terme2 =  19521

 <b>Exemple blé en france en 2013 (à partir de notre db): voir projet3 archivé </b>

# Réponse 3 : Calculer pour chaque pays et chaque produit la disponibilité alimentaire en kcal puis en kg de protéines.

## Etape 1  : garder uniquement les colonnes importantes et rajouter une colonne "type" pour distinguer entre df_animaux et df_vegetaux

In [32]:
df_population1 = df_population[['Code zone','Valeur','Unité']].copy()

In [33]:
#df_animaux1 = df_animaux [['Code zone', 'Zone','Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_animaux1 = df_animaux.assign(Type = 'animal')

In [34]:
#df_vegetaux1 = df_vegetaux[['Code zone', 'Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_vegetaux1 = df_vegetaux.assign(Type = 'vegetal')

## Etape 2  : concaténation entre df_animaux1 et df_vegetaux1

In [35]:
df_Alimentation1=pd.concat([df_animaux1,df_vegetaux1])

In [36]:
print('df_animaux1.shape =\t', df_animaux1.shape , '\ndf_vegetaux2.shape =\t',
      df_vegetaux1.shape,'\ndf_Alimentation1.shape =\t',df_Alimentation1.shape)

df_animaux1.shape =	 (3643, 19)
df_vegetaux2.shape =	 (11682, 19)
df_Alimentation1.shape =	 (15325, 19)

## Etape3 : Jointure à gauche entre df_Alimentation1, df_population1

In [37]:
df_prinicpale = df_Alimentation1.merge( df_population1, on='Code zone', how="left", suffixes=('_produit','_population'))
print("df_Alimentation1.shape =\t",df_Alimentation1.shape,'\ndf_population1.shape =\t',df_population1.shape,
      '\ndf_alimentation_population.shape =',df_prinicpale.shape)

df_Alimentation1.shape =	 (15325, 19)
df_population1.shape =	 (171, 3)
df_alimentation_population.shape = (15325, 21)

In [38]:
df_prinicpale.rename(columns={'Valeur' : 'Population'}, inplace=True)
df_prinicpale.head(3)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Population,Unité
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,...,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN,animal,30552,1000 personnes
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36000000.0,...,0.0,36000000.0,NaN,36000000.0,NaN,NaN,NaN,animal,30552,1000 personnes
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,18000000.0,...,18000000.0,18000000.0,NaN,NaN,NaN,NaN,NaN,animal,30552,1000 personnes

## Etape 4 : Calcul de disponibilité alimentaire en kcal puis en kg

### 1. Disponibilité alimentaire en kcal 
<ul>
    <li>Disponibilite alimenatire en kcal = <br>'Disponibilité alimentaire (Kcal/personne/jour)' * Nombre d'habitants * unité (1000) * 365 jours</li>
</ul>

In [39]:
df_prinicpale['Disponibilite alimentaire (kcal/an)'] = df_prinicpale['Disponibilité alimentaire (Kcal/personne/jour)'] * 365 * df_prinicpale['Population'] * 1000

### 2. Disponibilité alimentaire en kg de protéine 
<ul>
    <li>Disponibilite alimenatire en kg de proteine = <br>Disponibilité de protéines en quantité (g/personne/jour) / 1000 (g --> kg) * Nombre d'habitants * unité (1000) * 365 jours</li>
</ul>
Nb : Pour optimiser le calcul, nous n'allons pas multiplier par 1000 puis diviser par 1000

In [40]:
df_prinicpale['Disponibilite alimentaire proteine (kg/an)'] = df_prinicpale['Disponibilité de protéines en quantité (g/personne/jour)'] * 365 * df_prinicpale['Population'] 
#Affichage du Df
df_prinicpale[['Zone','Produit','Disponibilite alimentaire (kcal/an)','Disponibilite alimentaire proteine (kg/an)']]

,Zone,Produit,Disponibilite alimentaire (kcal/an),Disponibilite alimentaire proteine (kg/an)
0,Afghanistan,Abats Comestible,5.575740e+10,8586639.60
1,Afghanistan,"Beurre, Ghee",2.564840e+11,334544.40
2,Afghanistan,Crème,3.345444e+10,446059.20
3,Afghanistan,Graisses Animales Crue,1.338178e+11,111514.80
4,Afghanistan,Lait - Excl Beurre,1.115148e+12,68247057.60
...,...,...,...,...
15320,Îles Salomon,Sésame,0.000000e+00,NaN
15321,Îles Salomon,Thé,0.000000e+00,8190.60
15322,Îles Salomon,Tomates,0.000000e+00,NaN
15323,Îles Salomon,Vin,0.000000e+00,NaN
15324,Îles Salomon,"Épices, Autres",8.190600e+08,30714.75

# Réponse 4

## 1. Ratio "énergie/poids" (en kcal/kg) pour chaque produit et chaque pays

In [41]:
#Projetction de df_principale
df_ratio = df_prinicpale[['Zone','Produit','Nourriture (kg/an)','Disponibilite alimentaire (kcal/an)','Disponibilite alimentaire proteine (kg/an)']].copy()

In [42]:
# Remplacer les valeurs égales à 0 par des valeurs manquantes pour éviter la division sur 0
df_ratio.replace(0, np.nan, inplace=True)

In [43]:
df_ratio['Ratio Energie/poids (kcal/kg)'] = \
df_ratio['Disponibilite alimentaire (kcal/an)']/  df_ratio["Nourriture (kg/an)"]

## 2. Ratio "poids de protéines/poids total" (en g/kg) pour chaque produit et chaque pays

In [44]:
df_ratio['Ratio protéine/poids'] = df_ratio['Disponibilite alimentaire proteine (kg/an)']/ \
df_ratio["Nourriture (kg/an)"]

In [45]:
df_ratio = df_ratio.loc[:,['Produit','Ratio Energie/poids (kcal/kg)','Ratio protéine/poids']].copy()

In [46]:
df_ratio

,Produit,Ratio Energie/poids (kcal/kg),Ratio protéine/poids
0,Abats Comestible,1052.026415,0.162012
1,"Beurre, Ghee",7124.556667,0.009293
2,Crème,1858.580000,0.024781
3,Graisses Animales Crue,8921.184000,0.007434
4,Lait - Excl Beurre,586.611257,0.035901
...,...,...,...
15320,Sésame,NaN,NaN
15321,Thé,NaN,NaN
15322,Tomates,NaN,NaN
15323,Vin,NaN,NaN
15324,"Épices, Autres",NaN,NaN

<b> Moyenne du ratio pour chaque aliment </b>

In [47]:
df_ratio = df_ratio.groupby('Produit').mean().reset_index()

## Exemples  
L'apport énergitique <b> des oeufs crus</b> est de 147 kcal pour 100g [<a href='https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)'> Wikipedia </a>], soit 1470 par kg et nous avons trouvé un ratio moyen de 1343,44 kcal/kg.

In [48]:
df_ratio[df_ratio['Produit']=='Oeufs']

   Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
58   Oeufs                    1343.440349              0.105473

<b> L'avoine</b> contient 10,70 g de proteine pour 100g <a href ='https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e'> Wikipedia </a>, soit un ratio de 0,107, et nous avons trouvé un ratio moyen de 0.084.

In [49]:
df_ratio[df_ratio['Produit']=='Avoine']

  Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
7  Avoine                     2135.35579              0.084294

# Réponse 5

## 1. Les 5 aliments les plus calorique

In [50]:
Elts_caloriques = df_ratio.sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False).head(5)
Elts_caloriques[['Produit','Ratio Energie/poids (kcal/kg)']]

                     Produit  Ratio Energie/poids (kcal/kg)
45  Huiles de Foie de Poisso                    9982.932500
42       Huile de Son de Riz                    9379.568137
43           Huile de Sésame                    9314.546692
46        Huiles de Poissons                    9003.715504
34          Huile d'Arachide                    8925.582634

## 2. Les 5 aliments les plus protéinés</b>

In [51]:
Elts_proteinees = df_ratio.sort_values(by='Ratio protéine/poids', ascending=False).head(5)
Elts_proteinees[['Produit','Ratio protéine/poids']]

                   Produit  Ratio protéine/poids
27  Graines Colza/Moutarde              0.285365
81                    Soja              0.285156
6   Arachides Decortiquees              0.251573
70                    Pois              0.223219
50     Légumineuses Autres              0.220334

<b> Rajout dans la df principale les ratios </b>

In [52]:
df_prinicpale = df_prinicpale.merge(df_ratio, on='Produit').copy()

#  Réponse 6 : Disponibilité intérieure mondiale pour les produits végétaux

In [53]:
df_alimentation_vegetal = df_prinicpale[df_prinicpale['Type'] == 'vegetal'].copy()

## 1. Disponibilité intérieure mondiale en kcal (pour les produits végétaux uniquement)

In [54]:
df_alimentation_vegetal['Disponibilité intérieure (kcal/an)'] = df_alimentation_vegetal["Disponibilité intérieure (kg/an)"] * \
    df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"] 
total_disponibilite_interieur_vegetal_kcal = df_alimentation_vegetal['Disponibilité intérieure (kcal/an)'].sum()
print('Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement = ',total_disponibilite_interieur_vegetal_kcal)

Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  1.3780136677764184e+16

================================================================================<br>
Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  <b>1.3780136677764184e+16</b> <br>
================================================================================

## 2. Disponibilité intérieure mondiale en proteine (pour les produits végétaux uniquement)

In [55]:
df_alimentation_vegetal['Disponibilité intérieure en proteine (g/an)'] = df_alimentation_vegetal["Disponibilité intérieure (kg/an)"] * \
    df_alimentation_vegetal["Ratio protéine/poids"] * 1000
total_disponibilite_interieur_vegetal_proteine = df_alimentation_vegetal['Disponibilité intérieure en proteine (g/an)'].sum()
print('total_disponibilite_interieur_vegetal_proteine = ',total_disponibilite_interieur_vegetal_proteine)

total_disponibilite_interieur_vegetal_proteine =  349177827738287.5

================================================================================ <br>
Disponibilité intérieure mondiale en proteine pour les produits végétaux uniquement =  <b>349177827738287.5 g</b> <br>
================================================================================

# Réponse 7 : Nombre d'humains qui pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture

## 1. Selon le nombre de calories

In [56]:
nombre_personne_nourris_disponibilite_interieur_vegetal_kcal =total_disponibilite_interieur_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_kcal = nombre_personne_nourris_disponibilite_interieur_vegetal_kcal *100/nb_population
print ('Nombre de personnes nourries =', nombre_personne_nourris_disponibilite_interieur_vegetal_kcal)
print('Pourcentage des personnes nourries =', pourcentage_nourris_disponibilite_interieur_vegetal_kcal,'%')

Nombre de personnes nourries = 15101519646.864859
Pourcentage des personnes nourries = 215.81843759837483 %

Sachant que la ration alimentaire moyenne nécessaire est de <b>2 500 kcal/personne/jour</b>. [Source <a href="https://fr.wikipedia.org/wiki/Ration_alimentaire#cite_note-2">Wikipedia</a> ] , alors :<br>
Le nombre de personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = <b>15101519646</b><br>
Pourcentage des personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = <b>215.89 %</b>

## 2. Selon le nombre de proteines

In [57]:
nombre_personne_nourris_disponibilite_interieur_vegetal_proteine =total_disponibilite_interieur_vegetal_proteine / (58.5 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = nombre_personne_nourris_disponibilite_interieur_vegetal_proteine *100/nb_population
print ('Nombre de personnes nourries =', nombre_personne_nourris_disponibilite_interieur_vegetal_proteine)
print('pourcentage de personnes nourries =', pourcentage_nourris_disponibilite_interieur_vegetal_proteine,'%')

Nombre de personnes nourries = 16353018510.164501
pourcentage de personnes nourries = 233.7038250063596 %

Le besoin moyen de protéine par kg est de 0.9g, sachant le poids moyen d'une personne est de 65 kg, alors le besoin moyen en protéine est de <b>58.5 g/personne </b>  
Le nombre de personne nourris en utilisant la disponibilite interieur vegetal en terme de proteine = <b>16353018510</b> <br>
Le pourcentage = <b>233.7 %</b>

# Réponse 8 : Nombre d'humains nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture

## 1. Selon le nombre de calories :

In [58]:
# df_alimentation_vegetal['Disponibilite sans perte (kcal)'] = 
# (df_alimentation_vegetal['Aliments pour animaux (kg/an)']+\
#                       df_alimentation_vegetal['Pertes (kg/an)'] + \
#                      df_alimentation_vegetal['Nourriture (kg/an)'])   \
#                  * df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"] 
 
# total_disponibilite_sans_perte_vegetal_kcal = df_alimentation_vegetal['Disponibilite sans perte (kcal)'].sum()
# print("total_disponibilite_sans_perte_vegetal_kcal = ",total_disponibilite_sans_perte_vegetal_kcal)

In [59]:
# b = df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"] .sum()
# b *df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"]

In [60]:
# ((df_alimentation_vegetal['Aliments pour animaux (kg/an)']+\
#                       df_alimentation_vegetal['Pertes (kg/an)'] + \
#                      df_alimentation_vegetal['Nourriture (kg/an)']).sum() * df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"]).sum()

In [61]:
df_alimentation_vegetal['Disponibilite sans perte'] = \
df_alimentation_vegetal[['Aliments pour animaux (kg/an)','Pertes (kg/an)','Nourriture (kg/an)']].sum(axis=1) 
total_disponibilite_sans_perte_vegetal_kcal = (df_alimentation_vegetal['Disponibilite sans perte'] * df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"] ).sum()

In [62]:
nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =total_disponibilite_sans_perte_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal *100/nb_population
print ('nombre_personne_nourris_kcal =', nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal)
print('pourcentage_nourris_kcal =', pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal,'%')

nombre_personne_nourris_kcal = 10415832398.520514
pourcentage_nourris_kcal = 148.85446809996438 %

Nombre de personnes nourris si la toute la disponibilite alimentaire vegétale est utilisé (sans perte ou nourriture pour animaux) selon le besoin moyen en kcal = <b>10415832398</b><br>
Pourcentage des personnes nourris = <b>148.85 %</b>

## 2. Selon le nombre de proteines

In [63]:
# perte_animaux_proteine = (df_alimentation_vegetal['Aliments pour animaux (kg/an)']+df_alimentation_vegetal.loc[:,'Pertes (kg/an)']) \
#                  * df_alimentation_vegetal.loc[:,"Ratio protéine/poids"] 
# df_alimentation_vegetal.loc[:,'Disponibilite sans perte proteine(kg/an)'] = perte_animaux_proteine + df_alimentation_vegetal.loc[:,'Disponibilite alimentaire proteine (kg/an)'] 
# total_disponibilite_sans_perte_vegetal_proteine = df_alimentation_vegetal['Disponibilite sans perte proteine(kg/an)'].sum() * 1000
# print("total_disponibilite_sans_perte_vegetal_proteine en g= ",total_disponibilite_sans_perte_vegetal_proteine)

In [64]:
total_disponibilite_sans_perte_vegetal_proteine = (df_alimentation_vegetal['Disponibilite sans perte'] * df_alimentation_vegetal["Ratio protéine/poids"]).sum()
# La disponibilité en gramme = 
total_disponibilite_sans_perte_vegetal_proteine *=1000

In [65]:
nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine =total_disponibilite_sans_perte_vegetal_proteine / (58.5 * 365)
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine *100/nb_population
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine =', nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine =', pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine,'%')

nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine = 10047984897.607777
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = 143.59749563773042 %

Nombre de personnes nourris si la toute la disponibilite alimentaire vegétale est utilisé (sans perte ou nourriture pour animaux) selon le besoin moyen en proteine = <b>10047984897</b><br>
Pourcentage des personnes nourris = <b>143.6 %</b>

# Réponse 9 : Nombre d'humains qui pourraient être nourris avec la disponibilité alimentaire mondiale

## 1. Selon le nombre de kca

In [66]:
disponibilite_globale_kcal = df_prinicpale['Disponibilite alimentaire (kcal/an)'].sum()

In [67]:
nb_personne_nourris_disponibilite_gobale_kcal =disponibilite_globale_kcal / (2500 * 365)
pourcentage_personne_nourris_disponibilite_gobale_kcal = nb_personne_nourris_disponibilite_gobale_kcal *100 / nb_population
print('disponibilite_globale_kcal = ',disponibilite_globale_kcal)
print ('nb_personne_nourris_disponibilite_gobale_kcal =', nb_personne_nourris_disponibilite_gobale_kcal)
print('pourcentage_personne_nourris_disponibilite_gobale_kcal =', pourcentage_personne_nourris_disponibilite_gobale_kcal,'%')

disponibilite_globale_kcal =  7364437353675000.0
nb_personne_nourris_disponibilite_gobale_kcal = 8070616278.0
pourcentage_personne_nourris_disponibilite_gobale_kcal = 115.33857759378368 %

Disponibilité globale en kcal =  <b>7364437353675000</b><br>
Nombre de personnes qui peuvent être nourris avec la disponibilite gobale selon leur besoin en kcal = <b>8070616278.0</b><br>
pourcentage par rapport à la population globale = <b>115.33857759378368 %</b><br>

## 2. Selon le nombre de proteines

In [68]:
disponibilite_globale_proteine = df_prinicpale['Disponibilite alimentaire proteine (kg/an)'].sum() * 1000

In [69]:
nb_personne_nourris_disponibilite_gobale_proteine =disponibilite_globale_proteine / (58.5 * 365)
pourcentage_personne_nourris_disponibilite_gobale_proteine = nb_personne_nourris_disponibilite_gobale_proteine *100 / nb_population
print('disponibilite_globale_proteine = ',disponibilite_globale_proteine)
print ('nb_personne_nourris_disponibilite_gobale_proteine =', nb_personne_nourris_disponibilite_gobale_proteine)
print('pourcentage_personne_nourris_disponibilite_gobale_proteine =', pourcentage_personne_nourris_disponibilite_gobale_proteine,'%')

disponibilite_globale_proteine =  207249144517349.97
nb_personne_nourris_disponibilite_gobale_proteine = 9706083339.999998
pourcentage_personne_nourris_disponibilite_gobale_proteine = 138.71132115325193 %

Disponibilite globale en proteine =  <b>207249144517349.97</b><br>
Nombre de personnes qui peuvent être nourris avec la disponibilite gobale selon leur besoin en kcal  = <b>9 706 083 340</b><br>
pourcentage par rapport à la population globale = <b>138.71 %</b>

# Réponse 10 : Proportion de la population mondiale considérée comme étant en sous-nutrition

In [70]:
# df_sous_alimentation2013 = df_sous_alimentation[df_sous_alimentation['Code année']==20122014].copy()
df_sous_alimentation2013 = df_sous_alimentation[df_sous_alimentation['Année'].str[:4]=='2012'].copy()
# Remplacer l'année et le code année qui commencent par 2012 par 2013 
df_sous_alimentation2013[['Code année','Année']] = 2013
# Projection de la df_sous_alimentation2013
df_sous_alimentation2013.drop(columns=['Code Domaine', 'Domaine','Code Élément','Élément', 'Code Produit', 'Produit', 'Symbole', 'Description du Symbole', 'Note'] , inplace=True)

In [71]:
# df_sous_alimentation2013['Valeur'] est de type Objet, on va le caster en type float
df_sous_alimentation2013['Valeur'] = pd.to_numeric(df_sous_alimentation2013['Valeur'], errors = "coerce")
# En utilisant la fonction to_numeric, les valeurs de type String ('<0.1') vont devenir Null
nb_sous_alimentation2013 = df_sous_alimentation2013['Valeur'].sum() * 1000000
print('nb_sous_alimentation2013 = ',nb_sous_alimentation2013)
pourcentage_sous_alimentation2013  = nb_sous_alimentation2013 *100/ nb_population

print('pourcentage_sous_alimentation2013 = ',pourcentage_sous_alimentation2013)

nb_sous_alimentation2013 =  743800000.0000001
pourcentage_sous_alimentation2013 =  10.629774859710697

Nombre de personnes considérées comme étant en sous-nutrition : <b>743800000</b><br>
proportion de la population mondiale considérée comme étant en sous-nutrition : <b>10.63</b>

In [72]:
## df_sous_alimentation2013[df_sous_alimentation2013['Zone']=="Dominique"]

# Réponse 11 : Proportion destinée à l'alimentation animale en ne prenant en compte que les céréales destinées à l'alimentation

<b> a. Liste des produits considérés comme des céréales selon la FAO.</b>

In [73]:
type_cereal = df_cereales['Produit'].unique()
type_cereal

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

<b> b. Rajout de la colonne "is_cereal"de type booléen pour distinguer les céréales des autres produits </b>

In [74]:
df_prinicpale['is_cereal'] = df_prinicpale['Produit'].isin(type_cereal)

In [75]:
# Ou bien
# df_type_cereal = df_cereales.drop_duplicates(subset = ['Code Produit', 'Produit'])
# type_cereal = df_type_cereal["Produit"].tolist()
# df_prinicpale['is_cereal'] = df_prinicpale['Produit'].apply(lambda x:True if x in type_cereal else False)

In [76]:
df_prinicpale_cereal = df_prinicpale[df_prinicpale['is_cereal']].copy() # Masque is_cereal = True
#df_prinicpale_cereal[['Zone','Produit','Aliments pour animaux (kg/an)', 'Nourriture (kg/an)']]

In [77]:
cereales_animaux = df_prinicpale_cereal['Aliments pour animaux (kg/an)'].sum()
cereales_nourriture = df_prinicpale_cereal['Nourriture (kg/an)'].sum()

proportion_cereales_animaux = 100 * cereales_animaux / (cereales_animaux + cereales_nourriture)
#proportion_cereales_nourriture = 100 * cereales_nourriture / (cereales_animaux + cereales_nourriture)

print('proportion_cereales_animaux = ', proportion_cereales_animaux)
#print('proportion_cereales_nourriture = ',proportion_cereales_nourriture)

proportion_cereales_animaux =  45.91400584899829

====================================================<br>
Proportion des céréales dédiée animaux =  <b>45.91 </b><br>
====================================================


Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition. 
Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

 

le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
 # Question 12 : Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer).

In [78]:
# bis
liste_code_pays_sous_alimentation = df_sous_alimentation2013[~df_sous_alimentation2013['Valeur'].isin([0,np.NaN])]['Code zone'].unique()
df_bis3 = df_prinicpale[df_prinicpale['Code zone'].isin(liste_code_pays_sous_alimentation)]

m2 = df_bis3.groupby('Produit').sum().reset_index().sort_values(by='Exportations - Quantité (kg/an)', ascending=False)[:15]['Produit']
df_m2 = df_bis3.loc[df_bis3['Produit'].isin(m2),:]
df_m2 = df_m2.sort_values(by='Exportations - Quantité (kg/an)', ascending=False)[:200]
df_m2 = df_m2[['Produit','Nourriture (kg/an)','Aliments pour animaux (kg/an)','Autres utilisations (non alimentaire) (kg/an)','Disponibilité intérieure (kg/an)']]

df_group = df_m2.groupby('Produit').sum().reset_index()


df_group['Ratio autres utilisations/ Disponibilité intèrieur'] = \
df_group['Autres utilisations (non alimentaire) (kg/an)'] / \
df_group['Disponibilité intérieure (kg/an)']


df_group['Ratio nourriture animale/ nourriture'] = \
df_group['Aliments pour animaux (kg/an)'] / \
(df_group['Nourriture (kg/an)'] + df_group['Aliments pour animaux (kg/an)'])
# (df_group['Nourriture (kg/an)','Aliments pour animaux (kg/an)'].sum(axis=1))

# print(df_bis3.shape)
# print(df_prinicpale.shape)

In [79]:
df_group

,Produit,Nourriture (kg/an),Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité intérieure (kg/an),Ratio autres utilisations/ Disponibilité intèrieur,Ratio nourriture animale/ nourriture
0,Bananes,1.039400e+10,8.070000e+08,9.500000e+07,1.351300e+10,0.007030,0.072047
1,Blé,2.479070e+11,3.932400e+10,6.505000e+09,3.209140e+11,0.020270,0.136907
2,"Fruits, Autres",1.091720e+11,0.000000e+00,5.300000e+07,1.212740e+11,0.000437,0.000000
3,Huile de Palme,2.381000e+09,0.000000e+00,5.056000e+09,7.467000e+09,0.677113,0.000000
4,Lait - Excl Beurre,2.335510e+11,3.079000e+10,1.043000e+09,2.768080e+11,0.003768,0.116478
5,"Légumes, Autres",5.663730e+11,3.699100e+10,2.000000e+07,6.520030e+11,0.000031,0.061308
6,Manioc,1.722800e+10,2.722700e+10,2.690900e+10,7.769300e+10,0.346350,0.612462
7,Maïs,4.341800e+10,1.936220e+11,3.800000e+10,3.060350e+11,0.124169,0.816833
8,"Oranges, Mandarines",3.225100e+10,0.000000e+00,7.000000e+06,3.423400e+10,0.000204,0.000000
9,Poissons Pelagiques,8.320000e+09,1.137000e+10,4.000000e+07,1.973500e+10,0.002027,0.577450
10,Pommes,3.206200e+10,1.270000e+08,3.000000e+06,3.914800e+10,0.000077,0.003945
11,Riz (Eq Blanchi),2.344800e+11,2.754500e+10,7.293000e+09,2.995840e+11,0.024344,0.105124
12,Soja,5.973000e+09,1.081900e+10,1.000000e+06,1.316330e+11,0.000008,0.644295
13,Sucre Eq Brut,6.433300e+10,2.200000e+07,2.669000e+09,7.755200e+10,0.034416,0.000342
14,Tomates,6.802600e+10,0.000000e+00,4.900000e+07,7.469100e+10,0.000656,0.000000

In [80]:
df_group.nlargest(3,['Ratio autres utilisations/ Disponibilité intèrieur'],keep='all')[['Produit','Ratio autres utilisations/ Disponibilité intèrieur']]

          Produit  Ratio autres utilisations/ Disponibilité intèrieur
3  Huile de Palme                                           0.677113
6          Manioc                                           0.346350
7            Maïs                                           0.124169

In [81]:
df_group.nlargest(3,['Ratio nourriture animale/ nourriture'],keep='all')[['Produit','Ratio nourriture animale/ nourriture']]

   Produit  Ratio nourriture animale/ nourriture
7     Maïs                              0.816833
12    Soja                              0.644295
6   Manioc                              0.612462

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

<b> Les pays en sous alimentation</b>

In [82]:
# df_prinicpale[df_prinicpale['Code zone'].isin(a)==True]
df_pays_sous_alimentation = df_sous_alimentation2013[~df_sous_alimentation2013['Valeur'].isin([0, np.NaN])]

<b> Rajout de la colonne 'is_malnutrition' dans la data frame principale

In [83]:
df_prinicpale['is_malnutrition'] = df_prinicpale['Code zone'].isin(df_pays_sous_alimentation['Code zone'].unique())

<b>Faire un copie de la df_principale pour garder uniquement les pays en sous alimentation</b>

In [84]:
df_pays_sous_alimentation = df_prinicpale[df_prinicpale['is_malnutrition']].copy()

In [85]:
# df_prinicpale[df_prinicpale['is_malnutrition']==True].groupby('Zone').sum()

In [86]:
# # df_pays_sous_alimentation = df_sous_alimentation2013[~df_sous_alimentation2013['Valeur'].isin([0, np.NaN])]
# liste_code_pays_sous_alimentation = df_sous_alimentation2013['Code zone'].tolist()
# df_prinicpale['is_malnutrition'] = df_prinicpale['Code zone'].apply(lambda y: True if y in liste_code_pays_sous_alimentation else False)

<b>les 15 produits les plus exportés par ce groupe de pays.</b>

In [87]:
# df_bis3

In [88]:
produits_exportes = df_pays_sous_alimentation.groupby('Produit').sum().nlargest(15, ['Exportations - Quantité (kg/an)']).reset_index()['Produit']
produits_exportes

0          Huile de Palme
1                    Maïs
2                  Manioc
3        Riz (Eq Blanchi)
4           Sucre Eq Brut
5                     Blé
6         Légumes, Autres
7                 Bananes
8          Fruits, Autres
9      Lait - Excl Beurre
10                   Soja
11    Poissons Pelagiques
12                Tomates
13                 Pommes
14    Oranges, Mandarines
Name: Produit, dtype: object

In [89]:
# df_prinicpale_sous_alimentation_produit_exporte = df_prinicpale_sous_alimentation_produit_exporte.groupby("Produit").sum()

In [90]:
# df_sous_alimentation.groupby("Produit").sum().nlargest(15, ['Exportations - Quantité (kg/an)'])

In [91]:
# df_prinicpale_sous_alimentation.groupby("Produit").sum().reset_index()[['Produit','Exportations - Quantité (kg/an)']].nlargest(15, ['Exportations - Quantité (kg/an)'])
# 
# produit_exporte_par_pays_sous_alim = df_prinicpale_sous_alimentation.groupby("Produit").sum().reset_index()[['Produit','Exportations - Quantité (kg/an)']].sort_values(by='Exportations - Quantité (kg/an)', ascending=False)

In [92]:
# produit_exporte_par_pays_sous_alim = df_prinicpale_sous_alimentation.groupby("Produit").sum().reset_index()[['Produit','Exportations - Quantité (kg/an)']].sort_values(by='Exportations - Quantité (kg/an)', ascending=False)
# liste_produit_exporte_par_pays_sous_alim = produit_exporte_par_pays_sous_alim.head(15)['Produit'].to_list()
# #liste_produit_exporte_par_pays_sous_alim

<b>Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

In [93]:
df_sous_alim_produit_exporte = df_pays_sous_alimentation[df_pays_sous_alimentation['Produit'].isin(produits_exportes)].sort_values(by='Exportations - Quantité (kg/an)', ascending=False).head(200).copy()
df_sous_alim_produit_exporte

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Variation de stock (kg/an),Type,Population,Unité,Disponibilite alimentaire (kcal/an),Disponibilite alimentaire proteine (kg/an),Ratio Energie/poids (kcal/kg),Ratio protéine/poids,is_cereal,is_malnutrition
13722,Thaïlande,216,Manioc,1.800000e+09,2.081000e+09,40.0,13.00,0.05,0.14,6.264000e+09,...,0.000000e+00,vegetal,67011,1000 personnes,9.783606e+11,3.424262e+06,990.011362,0.007352,False,True
7142,Indonésie,101,Huile de Palme,NaN,2.514000e+09,116.0,4.80,13.16,0.00,3.714000e+09,...,0.000000e+00,vegetal,249866,1000 personnes,1.057933e+13,0.000000e+00,8719.497538,0.004927,False,True
8070,Argentine,9,Maïs,4.923000e+09,1.266000e+09,86.0,10.44,0.27,1.96,7.881000e+09,...,-4.000000e+09,vegetal,41446,1000 personnes,1.300990e+12,2.965047e+07,3012.589264,0.072545,True,True
7164,Malaisie,131,Huile de Palme,NaN,3.930000e+08,164.0,6.89,18.54,0.01,6.980000e+08,...,-4.000000e+07,vegetal,29717,1000 personnes,1.778860e+12,1.084671e+05,8719.497538,0.004927,False,True
10297,Inde,100,Riz (Eq Blanchi),2.124000e+09,NaN,689.0,69.49,1.53,12.96,9.485400e+10,...,0.000000e+00,vegetal,1252140,1000 personnes,3.148944e+14,5.923123e+09,3655.063636,0.070368,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,Bolivie (État plurinational de),19,Sucre Eq Brut,NaN,6.000000e+07,264.0,26.60,NaN,NaN,3.440000e+08,...,0.000000e+00,vegetal,10671,1000 personnes,1.028258e+12,NaN,3593.724234,NaN,False,True
10567,Zimbabwe,181,Sucre Eq Brut,NaN,0.000000e+00,261.0,28.70,NaN,NaN,4.460000e+08,...,-1.000000e+07,vegetal,14150,1000 personnes,1.348000e+12,NaN,3593.724234,NaN,False,True
4530,Géorgie,73,Blé,6.700000e+07,3.000000e+06,1200.0,163.43,4.96,35.51,8.360000e+08,...,1.920000e+08,vegetal,4341,1000 personnes,1.901358e+12,5.626435e+07,2847.523159,0.081952,True,True
9833,Ouzbékistan,235,Pommes,1.270000e+08,NaN,29.0,22.11,0.18,0.06,7.850000e+08,...,NaN,vegetal,28934,1000 personnes,3.062664e+11,6.336546e+05,400.909951,0.001881,False,True
5901,Malaisie,131,"Fruits, Autres",NaN,0.000000e+00,21.0,16.78,0.14,0.23,5.280000e+08,...,0.000000e+00,vegetal,29717,1000 personnes,2.277808e+11,2.494742e+06,437.188439,0.005374,False,True

In [94]:
# df_prinicpale_sous_alimentation.groupby('Produit')['Exportations - Quantité (kg/an)'].rank(method='max') == 2

In [95]:
# df_prinicpale_sous_alimentation_produit_exporte = df_prinicpale_sous_alimentation[df_prinicpale_sous_alimentation['Produit'].isin(liste_produit_exporte_par_pays_sous_alim)].sort_values(by='Exportations - Quantité (kg/an)', ascending=False).head(200).copy()

<b> Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

In [96]:
# total_sous_alim_produit_exporte = 
total_sous_alim_produit_exporte = df_sous_alim_produit_exporte.groupby('Produit').sum().reset_index()[['Produit','Nourriture (kg/an)','Aliments pour animaux (kg/an)','Autres utilisations (non alimentaire) (kg/an)','Disponibilité intérieure (kg/an)']].copy()
total_sous_alim_produit_exporte

,Produit,Nourriture (kg/an),Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité intérieure (kg/an)
0,Bananes,1.039400e+10,8.070000e+08,9.500000e+07,1.351300e+10
1,Blé,2.479070e+11,3.932400e+10,6.505000e+09,3.209140e+11
2,"Fruits, Autres",1.091720e+11,0.000000e+00,5.300000e+07,1.212740e+11
3,Huile de Palme,2.381000e+09,0.000000e+00,5.056000e+09,7.467000e+09
4,Lait - Excl Beurre,2.335510e+11,3.079000e+10,1.043000e+09,2.768080e+11
5,"Légumes, Autres",5.663730e+11,3.699100e+10,2.000000e+07,6.520030e+11
6,Manioc,1.722800e+10,2.722700e+10,2.690900e+10,7.769300e+10
7,Maïs,4.341800e+10,1.936220e+11,3.800000e+10,3.060350e+11
8,"Oranges, Mandarines",3.225100e+10,0.000000e+00,7.000000e+06,3.423400e+10
9,Poissons Pelagiques,8.320000e+09,1.137000e+10,4.000000e+07,1.973500e+10
10,Pommes,3.206200e+10,1.270000e+08,3.000000e+06,3.914800e+10
11,Riz (Eq Blanchi),2.344800e+11,2.754500e+10,7.293000e+09,2.995840e+11
12,Soja,5.973000e+09,1.081900e+10,1.000000e+06,1.316330e+11
13,Sucre Eq Brut,6.433300e+10,2.200000e+07,2.669000e+09,7.755200e+10
14,Tomates,6.802600e+10,0.000000e+00,4.900000e+07,7.469100e+10

<b>le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.</b><br>
<b>le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)</b>

In [97]:
total_sous_alim_produit_exporte['Ratio autres utilisations/ Disponibilité intèrieur'] = \
total_sous_alim_produit_exporte['Autres utilisations (non alimentaire) (kg/an)'] / \
total_sous_alim_produit_exporte['Disponibilité intérieure (kg/an)']

In [98]:
total_sous_alim_produit_exporte['Ratio nourriture animale/nourriture'] = \
total_sous_alim_produit_exporte['Aliments pour animaux (kg/an)'] / \
(total_sous_alim_produit_exporte['Nourriture (kg/an)'] + total_sous_alim_produit_exporte['Aliments pour animaux (kg/an)'])

In [99]:
total_sous_alim_produit_exporte[['Produit','Ratio autres utilisations/ Disponibilité intèrieur','Ratio nourriture animale/nourriture']]

,Produit,Ratio autres utilisations/ Disponibilité intèrieur,Ratio nourriture animale/nourriture
0,Bananes,0.007030,0.072047
1,Blé,0.020270,0.136907
2,"Fruits, Autres",0.000437,0.000000
3,Huile de Palme,0.677113,0.000000
4,Lait - Excl Beurre,0.003768,0.116478
5,"Légumes, Autres",0.000031,0.061308
6,Manioc,0.346350,0.612462
7,Maïs,0.124169,0.816833
8,"Oranges, Mandarines",0.000204,0.000000
9,Poissons Pelagiques,0.002027,0.577450
10,Pommes,0.000077,0.003945
11,Riz (Eq Blanchi),0.024344,0.105124
12,Soja,0.000008,0.644295
13,Sucre Eq Brut,0.034416,0.000342
14,Tomates,0.000656,0.000000

<b>Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer).</b>

In [100]:
liste_ratio1 = df_group.nlargest(3,['Ratio autres utilisations/ Disponibilité intèrieur'],keep='all')['Produit'].to_list()
liste_ratio2 = df_group.nlargest(3,['Ratio nourriture animale/ nourriture'],keep='all')['Produit'].to_list()

In [101]:
#liste_ratio1 = total_sous_alim_produit_exporte.sort_values(by='Ratio autres utilisations/ Disponibilité intèrieur',ascending=False).head(3)['Produit'].to_list()

In [102]:
# liste_ratio2 = total_sous_alim_produit_exporte.sort_values(by='Ratio nourriture animale/nourriture',ascending=False).head(3)['Produit'].to_list()

In [103]:
liste_ratio1 = total_sous_alim_produit_exporte.nlargest(3,['Ratio autres utilisations/ Disponibilité intèrieur'],keep='all')['Produit'].to_list()
liste_ratio2 = total_sous_alim_produit_exporte.nlargest(3,['Ratio nourriture animale/nourriture'],keep='all')['Produit'].to_list()

In [104]:
liste_ratio = liste_ratio1 + liste_ratio2
print('liste_ratio1 = ',liste_ratio1)
print('liste_ratio2 = ',liste_ratio2)
print('liste_ratio = ',liste_ratio)

liste_ratio1 =  ['Huile de Palme', 'Manioc', 'Maïs']
liste_ratio2 =  ['Maïs', 'Soja', 'Manioc']
liste_ratio =  ['Huile de Palme', 'Manioc', 'Maïs', 'Maïs', 'Soja', 'Manioc']

In [106]:
# huile de soja
# huile de palme
# manioc
# ______
# orge
# mais
# manioc

### Les produits :
liste_ratio1 =  ['Huile de Palme', 'Manioc', 'Maïs']

liste_ratio2 =  ['Maïs', 'Blé', 'Légumes, Autres']

liste_ratio =  ['Huile de Palme', 'Manioc', 'Maïs', 'Maïs', 'Blé', 'Légumes, Autres']

# Réponse 13 : Si les USA diminuaient leur production de produits animaux de 10% ..

In [107]:
df_cereal_USA = df_prinicpale_cereal[df_prinicpale_cereal['Zone']=="États-Unis d'Amérique"].groupby('Zone').sum().copy()

In [108]:
cereal_libere_usa = (df_cereal_USA['Aliments pour animaux (kg/an)'].iloc[0] * 0.1 ) /1000
print('cereal_libere_usa = ',cereal_libere_usa)

cereal_libere_usa =  14009600.0

<b> 14009600 </b> tonnes de cérales pourraient être  si les USA diminuaient leur production de produits animaux de 10%

# Réponse 14

## Proportion de manioc produit par la Thaïlande qui est exportée

In [109]:
df_thailande_manioc = df_prinicpale[(df_prinicpale['Zone']=='Thaïlande') & (df_prinicpale['Produit']=='Manioc')].copy()

In [110]:
proportion_thailande_manioc = df_thailande_manioc['Exportations - Quantité (kg/an)'].iloc[0]/df_thailande_manioc['Production (kg/an)'].iloc[0]*100
print("proportion_thailande_manioc = ",proportion_thailande_manioc,"%")

proportion_thailande_manioc =  83.41272991928014 %

proportion_thailande_manioc =  83.41272991928014 %

## Proportion de personnes en sous-nutrition

In [112]:
df_sous_alimentation2013[df_sous_alimentation2013['Zone']=='Thaïlande']['Valeur'].iloc[0] *1000 / df_prinicpale[df_prinicpale['Zone']=='Thaïlande']['Population'].iloc[0]

0.08356836937219263

Proportion de personnes en sous-nutrition = <b> 0.0820760770619749</b>

In [113]:
df_prinicpale.to_csv('data/df_prinicpale.csv',index = False)

In [114]:
df_sous_alimentation2013.to_csv('data/df_sous_alimentation2013.csv',index = False)