# Ouvrir les fichiers CSV avec Pandas

In [47]:
import pandas as pd
import numpy as np
#pd.set_option("max_rows", None)  #Préciser le nombre de lignes max

In [3]:
df_population = pd.read_csv("data/fr_population.csv")

In [4]:
df_animaux = pd.read_csv("data/fr_animaux.csv")

In [5]:
df_vegetaux = pd.read_csv("data/fr_vegetaux.csv")

In [6]:
#df_cereales = pd.read_csv("data/fr_céréales.csv")
#df_sous_alimentation = pd.read_csv("data/fr_sousalimentation.csv")
#df_population.shape #taille

## Aperçu génaral des données

In [7]:
df_population.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [49]:
df_population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

In [8]:
df_animaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN

In [50]:
df_animaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,3731.000000,5.720000e+02,2.397000e+03,3726.000000,3726.000000,3721.000000,3697.000000,3.731000e+03,3.021000e+03,3.638000e+03,3.726000e+03,4.050000e+02,2.959000e+03,2.070000e+02,2.290000e+02,1.411000e+03
mean,126.503082,2.080839e+08,2.116521e+07,26.137413,9.300939,1.841387,1.753652,4.337735e+08,8.429427e+07,7.214541e+07,3.799799e+08,6.628148e+07,5.430439e+08,3.109179e+07,4.510917e+06,2.664777e+06
std,74.746131,1.232665e+09,2.065427e+08,58.626273,31.313989,4.192599,3.819421,3.609314e+09,6.326664e+08,4.343456e+08,3.168325e+09,3.553305e+08,4.056536e+09,9.971779e+07,1.690339e+07,8.912819e+07
min,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-9.200000e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.900000e+07,-1.368000e+09
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.040000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+06,1.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,2.000000e+06,0.000000e+00,4.000000,1.050000,0.140000,0.210000,7.000000e+06,0.000000e+00,1.000000e+06,6.000000e+06,4.000000e+06,1.100000e+07,3.000000e+06,0.000000e+00,0.000000e+00
75%,188.500000,4.025000e+07,0.000000e+00,21.750000,5.067500,1.470000,1.560000,6.300000e+07,8.000000e+06,1.300000e+07,5.300000e+07,2.000000e+07,9.400000e+07,1.550000e+07,0.000000e+00,0.000000e+00
max,351.000000,2.275700e+10,5.972000e+09,541.000000,430.760000,41.020000,54.970000,1.334430e+11,1.894400e+10,9.780000e+09,1.058070e+11,4.878000e+09,1.356000e+11,7.620000e+08,1.210000e+08,2.210000e+09

In [9]:
df_vegetaux.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN

In [51]:
df_vegetaux.describe()

,Code zone,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
count,11971.000000,2.185000e+03,3.174000e+03,10607.000000,10381.000000,8156.000000,7944.000000,1.174700e+04,9.299000e+03,1.130800e+04,1.038100e+04,3.924000e+03,6.312000e+03,1.908000e+03,2.099000e+03,5.446000e+03
mean,126.798847,7.032165e+08,2.820882e+08,37.820873,8.519772,1.027108,0.976955,8.768406e+08,1.224432e+08,1.073828e+08,4.557699e+08,1.318073e+08,1.639227e+09,8.655608e+07,1.173341e+09,-2.241866e+07
std,75.131696,5.888047e+09,6.710769e+09,119.631129,21.822190,3.395135,3.459216,1.169398e+10,1.157923e+09,1.053807e+09,6.718243e+09,1.327714e+09,1.628231e+10,5.768070e+08,1.125034e+10,6.251325e+08
min,1.000000,0.000000e+00,0.000000e+00,-21.000000,-1.930000,-0.030000,-0.370000,-3.430000e+09,-4.100000e+07,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.000000e+00,-4.000000e+06,-3.986300e+10
25%,63.000000,0.000000e+00,0.000000e+00,0.000000,0.060000,0.010000,0.010000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,5.000000e+06,1.000000e+06,4.000000,0.770000,0.070000,0.080000,7.000000e+06,0.000000e+00,2.000000e+06,5.000000e+06,4.000000e+06,3.200000e+07,2.000000e+06,9.000000e+06,0.000000e+00
75%,189.000000,9.400000e+07,1.400000e+07,21.000000,5.270000,0.430000,0.440000,8.600000e+07,9.000000e+06,2.000000e+07,5.600000e+07,2.800000e+07,2.850000e+08,1.900000e+07,8.650000e+07,0.000000e+00
max,351.000000,1.538020e+11,3.473090e+11,1711.000000,308.070000,60.760000,49.470000,7.392670e+11,4.279700e+10,6.556400e+10,4.300460e+11,5.504700e+10,7.392670e+11,1.706000e+10,3.267110e+11,5.284000e+09

# Réponse 1  : Nombre total d’humains sur la planète

In [10]:
df_population2013 = df_population[df_population['Code année']==2013]
df_population2013['Valeur'].sum() * 1000
#L'unité utilisé dans notre db est 1000 personnes

8413993000

<ul>
    <li> Pour le nombre total d'humains en 2013, nous avons obtenue : <b>8 413 993 000</b> personnes </li>
    <li>Or, selon <a href = https://www.worldbank.org/>la banque mondiale</a> la population mondiale en 2013 est 7,17 Md d'humaines </li>
    <li>Afin de clarifier notre résultat nous allons :      
        <ol>            
            <li>Vérifier si le nombre de population pour un pays donnée est calculé plusieurs fois</li>
            <li>Les valeurs manquantes pour année ou code année</li>
            <li>Observer les données <a href = https://www.fao.org/faostat/fr/#definitions>non officielles</a>  </li>                </ol>
    </li> 
</ul>

In [11]:
df_population2013['Zone'].value_counts()

Afghanistan    1
Oman           1
Namibie        1
Népal          1
Nicaragua      1
              ..
France         1
Gabon          1
Gambie         1
Géorgie        1
Zimbabwe       1
Name: Zone, Length: 175, dtype: int64

In [12]:
df_population2013['Code année'].isna().sum(),df_population2013['Année'].isna().sum()

(0, 0)

In [13]:
df_population2013[~df_population2013['Symbole'].isna()]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [14]:
df_Chine_A = df_population[df_population['Zone'].str.match(pat = '(^Chin.)')]
df_Chine_A

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [15]:
df_Chine_A[df_Chine_A['Zone']!='Chine']['Valeur'].sum()

1416667

Nous remarquons que la population la zone chine est une agrégation de plusieurs autres zones, si nous calculons la somme de population de ces dernières, nous retouvons qu'elle est égale à la population chinoise, c'est pourquoi nous allons calculer la population mondiale sans prendre en considération la chine

In [16]:
df_population2013[df_population2013['Zone']!='Chine']['Valeur'].sum() * 1000

6997326000

=========================================================================== <br>
<B><I>Le nombre total en 2013 est 6997326000 </I></B> <br> ===========================================================================

# Réponse 2 : Equation à 3 termes

=========================================================================== <br>
<b><i>Disponibilité intérieure = <br>Production + Importations + |Variation de stock| - Exportations = 
<br>Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations (non alimentaire) + Nourriture
 </i></b>
=========================================================================== <br>

<strong><u> Exemple blé en france 2018 </u></strong>

In [17]:
# Données récupérées à partir du lien : https://www.fao.org/faostat/fr/#data/FBS
data_ble_france2018= pd.read_csv('data/ble_france_2018.csv')

In [18]:
data_ble_france2018.head(3)

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),68,France,5511,Production,2511,Blé et produits,2018,2018,Milliers de tonnes,35798,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2014-),68,France,5611,Importations - Quantité,2511,Blé et produits,2018,2018,Milliers de tonnes,2349,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2014-),68,France,5072,Variation de stock,2511,Blé et produits,2018,2018,Milliers de tonnes,-1819,Im,Données de la FAO basées sur une méthodologie ...

In [19]:
data_ble_france2018 = data_ble_france2018[['Code Élément', 'Élément', 'Unité', 'Valeur']]

In [20]:
#Le premier terme
terme1=data_ble_france2018[data_ble_france2018['Code Élément']==5301]['Valeur'].iloc[0] #valeur de disponibilité intérieur

In [21]:
#Le second terme
terme2=data_ble_france2018[data_ble_france2018['Code Élément']==5511]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5611]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5072]['Valeur'].abs() .iloc[0]- \
data_ble_france2018[data_ble_france2018['Code Élément']==5911]['Valeur'].iloc[0]

In [22]:
#Le troisième terme
terme3=data_ble_france2018[data_ble_france2018['Code Élément']==5521]['Valeur'].iloc[0] +\
    data_ble_france2018[data_ble_france2018['Code Élément']==5527]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5123]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5131]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5154]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5142]['Valeur'].iloc[0]

In [23]:
print('Terme1 = ',terme1)
print('Terme2 = ',terme2)
print('Terme2 = ',terme3)

Terme1 =  19521
Terme2 =  19520
Terme2 =  19521

 <b>Exemple blé en france en 2013 (à partir de notre db): voir projet3 archivé </b>

# Réponse 3 : Calculer pour chaque pays et chaque produit la disponibilité alimentaire en kcal puis en kg de protéines.

## Etape 1  : garder uniquement les colonnes importantes et rajouter une colonne "type" pour distinguer entre df_animaux et df_vegetaux

In [24]:
df_population1 = df_population[['Code zone','Valeur','Unité']]

In [25]:
#df_animaux1 = df_animaux [['Code zone', 'Zone','Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_animaux1 = df_animaux
df_animaux1 = df_animaux1.assign(Type = 'animal')

In [26]:
#df_vegetaux1 = df_vegetaux[['Code zone', 'Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_vegetaux1 = df_vegetaux
df_vegetaux1 = df_vegetaux1.assign(Type = 'vegetal')

## Etape 2  : concaténation entre df_animaux1 et df_vegetaux1

In [27]:
df_Alimentation1=pd.concat([df_animaux1,df_vegetaux1])

In [28]:
print('df_animaux1.shape =\t', df_animaux1.shape , '\ndf_vegetaux2.shape =\t',
      df_vegetaux1.shape,'\ndf_Alimentation1.shape =\t',df_Alimentation1.shape)

df_animaux1.shape =	 (3731, 19)
df_vegetaux2.shape =	 (11971, 19)
df_Alimentation1.shape =	 (15702, 19)

## Etape3 : Jointure à gauche entre df_Alimentation1, df_population1

In [29]:
df_alimentation_population = df_Alimentation1.merge( df_population1, on='Code zone', how="left", suffixes=('_produit','_population'))
print("df_Alimentation1.shape =\t",df_Alimentation1.shape,'\ndf_population1.shape =\t',df_population1.shape,
      '\ndf_alimentation_population.shape =',df_alimentation_population.shape)

df_Alimentation1.shape =	 (15702, 19)
df_population1.shape =	 (175, 3)
df_alimentation_population.shape = (15702, 21)

In [30]:
df_alimentation_population.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Valeur,Unité
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,...,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552,1000 personnes
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,...,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552,1000 personnes
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,...,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal,30552,1000 personnes
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,...,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552,1000 personnes
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,...,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552,1000 personnes

## Etape 4 : Calcul de disponibilité alimentaire en kcal puis en kg

### 1. Disponibilité alimentaire en kcal

In [31]:
# = 'Disponibilité alimentaire (Kcal/personne/jour)' * Nombre d'habitants * unité (1000)
# df_disponibilite_alimenatire = 
df_alimentation_population['Nb_Kcal'] = \
df_alimentation_population['Disponibilité alimentaire (Kcal/personne/jour)'] * df_alimentation_population['Valeur'] * 1000
df_disponibilité_alimentaire_kcal = df_alimentation_population[['Code zone','Zone','Produit','Nb_Kcal']]
df_disponibilité_alimentaire_kcal

# df_disponibilite_alimenatire[['Nb_Kcal','Code zone']].groupby(['Code zone']).sum()

       Code zone          Zone                 Produit       Nb_Kcal
0              2   Afghanistan        Abats Comestible  1.527600e+08
1              2   Afghanistan            Beurre, Ghee  7.026960e+08
2              2   Afghanistan                   Crème  9.165600e+07
3              2   Afghanistan  Graisses Animales Crue  3.666240e+08
4              2   Afghanistan      Lait - Excl Beurre  3.055200e+09
...          ...           ...                     ...           ...
15697         25  Îles Salomon                  Sésame  0.000000e+00
15698         25  Îles Salomon                     Thé  0.000000e+00
15699         25  Îles Salomon                 Tomates  0.000000e+00
15700         25  Îles Salomon                     Vin  0.000000e+00
15701         25  Îles Salomon          Épices, Autres  2.244000e+06

[15702 rows x 4 columns]

### 2. Disponibilité alimentaire en kg de protéines

In [32]:
# = Disponibilité de protéines en quantité (g/personne/jour) /1000 (g --> kg) * Nombre d'habitants * unité (1000)
df_alimentation_population['Nb_Kg_proteine'] = \
df_alimentation_population['Disponibilité de protéines en quantité (g/personne/jour)'] * df_alimentation_population['Valeur'] 
df_disponibilité_alimentaire_kg_proteine = df_alimentation_population[['Code zone','Zone','Produit','Nb_Kg_proteine']]
df_disponibilité_alimentaire_kg_proteine

# df_disponibilite_alimenatire[['Nb_Kg_proteine','Code zone']].groupby(['Code zone']).sum()

       Code zone          Zone                 Produit  Nb_Kg_proteine
0              2   Afghanistan        Abats Comestible        23525.04
1              2   Afghanistan            Beurre, Ghee          916.56
2              2   Afghanistan                   Crème         1222.08
3              2   Afghanistan  Graisses Animales Crue          305.52
4              2   Afghanistan      Lait - Excl Beurre       186978.24
...          ...           ...                     ...             ...
15697         25  Îles Salomon                  Sésame             NaN
15698         25  Îles Salomon                     Thé           22.44
15699         25  Îles Salomon                 Tomates             NaN
15700         25  Îles Salomon                     Vin             NaN
15701         25  Îles Salomon          Épices, Autres           84.15

[15702 rows x 4 columns]

# Réponse 4 :

## 1. Ratio "énergie/poids" (en kcal/kg) pour chaque produit et chaque pays

In [33]:
df_alimentation_population['Ratio Energie/poids (kcal/kg)'] = df_alimentation_population["Disponibilité alimentaire (Kcal/personne/jour)"]*365 / \
                        df_alimentation_population["Disponibilité alimentaire en quantité (kg/personne/an)"]
#df_alimentation_population['Unité du ratio'] ='kcal/kg'
df_ratio_energie_poids = df_alimentation_population[['Zone','Produit','Ratio Energie/poids (kcal/kg)']]

<Strong>Exemple :</Strong> <br>
Dans <a href='https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)'> Wikipedia </a> on trouve que l'apport énergitique <b> des oeufs crus</b> est de 147 kcal pour 100g, soit 1470 pour 1kg)

In [34]:
df_ratio_energie_poids[df_ratio_energie_poids['Produit']=='Oeufs']  #la moyenne: .['Ratio Energie/poids (kcal/kg)'].mean()

                       Zone Produit  Ratio Energie/poids (kcal/kg)
5               Afghanistan   Oeufs                    1403.846154
22           Afrique du Sud   Oeufs                    1417.475728
44                  Albanie   Oeufs                    1348.594378
65                  Algérie   Oeufs                    1222.704715
87                Allemagne   Oeufs                    1406.147541
...                     ...     ...                            ...
3633    Émirats arabes unis   Oeufs                    1374.848117
3655               Équateur   Oeufs                    1321.473159
3677  États-Unis d'Amérique   Oeufs                    1401.920439
3698               Éthiopie   Oeufs                    1013.888889
3720           Îles Salomon   Oeufs                    1425.781250

[175 rows x 3 columns]

## 2. Ratio "poids de protéines/poids total" (en g/kg) pour chaque produit et chaque pays

In [35]:
df_alimentation_population['Ratio protéine/poids (g/kg)'] = df_alimentation_population["Disponibilité de protéines en quantité (g/personne/jour)"]*365 / \
                        df_alimentation_population["Disponibilité alimentaire en quantité (kg/personne/an)"]
#df_alimentation_population['Unité Ratio protéine/poids'] = 'g'
df_ratio_proteine_poids = df_alimentation_population[['Zone','Produit','Ratio protéine/poids (g/kg)']]
df_ratio_proteine_poids

#df_ratio[df_ratio.index.get_level_values('Produit') == 'Avoine'].head(5)

               Zone                 Produit  Ratio protéine/poids (g/kg)
0       Afghanistan        Abats Comestible                   163.401163
1       Afghanistan            Beurre, Ghee                     9.358974
2       Afghanistan                   Crème                    24.333333
3       Afghanistan  Graisses Animales Crue                     7.448980
4       Afghanistan      Lait - Excl Beurre                    35.895870
...             ...                     ...                          ...
15697  Îles Salomon                  Sésame                          NaN
15698  Îles Salomon                     Thé                    85.882353
15699  Îles Salomon                 Tomates                          NaN
15700  Îles Salomon                     Vin                          NaN
15701  Îles Salomon          Épices, Autres                   114.062500

[15702 rows x 3 columns]

<Strong>Exemple :</Strong> <br>
Dans <a href ='https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e'> Wikipedia </a> on trouve que<b> l'avoine</b> contient 10,70 g de proteine pour 100g, soit 107g par kg

In [36]:
df_ratio_proteine_poids[df_ratio_proteine_poids['Produit']=='Avoine'] #la moyenne: .['Ratio protéine/poids (g/kg)'].mean()

                        Zone Produit  Ratio protéine/poids (g/kg)
3785          Afrique du Sud  Avoine                    77.866667
3858                 Albanie  Avoine                    84.230769
3928                 Algérie  Avoine                     0.000000
4000               Allemagne  Avoine                   113.766234
4072                  Angola  Avoine                     0.000000
...                      ...     ...                          ...
15292                 Égypte  Avoine                     0.000000
15364    Émirats arabes unis  Avoine                          NaN
15434               Équateur  Avoine                    96.182432
15507  États-Unis d'Amérique  Avoine                    73.000000
15580               Éthiopie  Avoine                   113.688525

[168 rows x 3 columns]

# Réponse 5 :

 ### 1. Les 5 aliments les plus caloriques

<b> a . Suppression des valeurs manquantes, égales à 0 ou celles qui tendent vers l'infini</b>

In [37]:
print("Ancienne taille : ",df_ratio_energie_poids.shape)
df_ratio_energie_poids = df_ratio_energie_poids[~df_ratio_energie_poids.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
print("Nouvelle taille : ",df_ratio_energie_poids.shape)

Ancienne taille :  (15702, 3)
Nouvelle taille :  (9955, 3)

<b> b . Classement  décroissent des produits selon le ratio Energie/poids exprimé en kcal par kg</b>

In [38]:
Elts_caloriques = df_ratio_energie_poids.sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False).head(5)
Elts_caloriques

              Zone                  Produit  Ratio Energie/poids (kcal/kg)
5974         Chili  Huil Plantes Oleif Autr                        21900.0
12154  Philippines            Huile d'Olive                        18250.0
4800       Barbade          Huile de Sésame                        18250.0
8926       Islande          Huile de Sésame                        18250.0
5760      Cambodge            Huile d'Olive                        18250.0

<b> c .Moyenne du ratio Energie/poids pour chaque produit </b>

In [39]:
df_moyenne_rapport_calorique = df_ratio_energie_poids.groupby("Produit").mean().sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False)
df_moyenne_rapport_calorique.head(5)

                          Ratio Energie/poids (kcal/kg)
Produit
Huiles de Foie de Poisso                   11809.003531
Huile de Sésame                            10129.047094
Huile d'Olive                               9314.953332
Huile de Son de Riz                         9300.167741
Huile de Germe de Maïs                      9260.445939

 ### 2. Les 5 aliments les plus riches en proteine

<b> a . Suppression des valeurs manquantes, égales à 0 ou celles qui tendent vers l'infini</b>

In [40]:
print("Ancienne taille : ",df_ratio_proteine_poids.shape)
df_ratio_proteine_poids = df_ratio_proteine_poids[~df_ratio_proteine_poids.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
print("Nouvelle taille : ",df_ratio_proteine_poids.shape)

Ancienne taille :  (15702, 3)
Nouvelle taille :  (8841, 3)

<b> b . Classement  décroissent des aliments selon le ratio proteine/poids exprimé en g par kg</b>

In [41]:
Elts_proteinees = df_ratio_proteine_poids.sort_values(by='Ratio protéine/poids (g/kg)', ascending=False).head(5)
Elts_proteinees

           Zone              Produit  Ratio protéine/poids (g/kg)
2201   Mongolie  Poissons Pelagiques                   425.833333
11049   Myanmar                 Soja                   384.210526
15636  Éthiopie                 Soja                   381.222222
9238      Japon                 Soja                   380.912807
14621   Tunisie                 Soja                   380.531915

<b> c .Moyenne du ratio Energie/poids pour chaque produit </b>

In [42]:
df_moyenne_rapport_proteine = df_ratio_proteine_poids.groupby("Produit").mean().sort_values(by='Ratio protéine/poids (g/kg)', ascending=False)
df_moyenne_rapport_proteine.head(5)

                        Ratio protéine/poids (g/kg)
Produit
Graines Colza/Moutarde                   365.000000
Soja                                     272.954376
Arachides Decortiquees                   250.740477
Pois                                     224.091931
Légumineuses Autres                      223.139648

#  Réponse 6 : Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement

In [43]:
df_alimentation_vegetal = df_alimentation_population[df_alimentation_population['Type'] == 'vegetal']

In [44]:
df_vegetal_interieur = df_alimentation_vegetal[['Zone','Produit','Disponibilité intérieure (kg/an)','Ratio Energie/poids (kcal/kg)']]

In [45]:
df_vegetal_interieur = df_vegetal_interieur[~df_vegetal_interieur.isin([np.nan, np.inf, -np.inf, 0]).any(1)]
df_vegetal_interieur

,Zone,Produit,Disponibilité intérieure (kg/an),Ratio Energie/poids (kcal/kg)
3731,Afghanistan,"Agrumes, Autres",4.100000e+07,282.945736
3732,Afghanistan,Aliments pour enfants,2.000000e+06,6083.333333
3734,Afghanistan,Bananes,8.200000e+07,540.740741
3736,Afghanistan,Blé,5.992000e+09,3118.548337
3742,Afghanistan,Edulcorants Autres,1.600000e+07,1377.358491
...,...,...,...,...
15676,Îles Salomon,Manioc,3.000000e+06,1101.609658
15685,Îles Salomon,Patates douces,1.000000e+08,979.935886
15691,Îles Salomon,Racines nda,4.300000e+07,779.411765
15693,Îles Salomon,Riz (Eq Blanchi),4.900000e+07,3566.420954
15696,Îles Salomon,Sucre Eq Brut,2.000000e+06,3695.061728

In [46]:
df_vegetal_interieur['Disponibilité intérieure (kcal)'] = df_vegetal_interieur["Disponibilité intérieure (kg/an)"] * \
    df_vegetal_interieur["Ratio Energie/poids (kcal/kg)"] 
total_disponibilite_interieur_vegetal_kcal = df_vegetal_interieur['Disponibilité intérieure (kcal)'].sum()
print('total_disponibilite_interieur_vegetal_kcal = ',total_disponibilite_interieur_vegetal_kcal)

total_disponibilite_interieur_vegetal_kcal =  1.490240535198294e+16

============================================================================================================ <br>
Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  <b>1.490240535198294e+16</b> <br>
============================================================================================================