# Ouvrir les fichiers CSV avec Pandas

In [1]:
import pandas as pd
import numpy as np
#pd.set_option("max_rows", None)  #Préciser le nombre de lignes max

In [2]:
df_population = pd.read_csv("data/fr_population.csv")
df_animaux = pd.read_csv("data/fr_animaux.csv")
df_vegetaux = pd.read_csv("data/fr_vegetaux.csv")
df_cereales = pd.read_csv("data/fr_céréales.csv")
df_sous_alimentation = pd.read_csv("data/fr_sousalimentation.csv")

## Aperçu génaral des données

In [3]:
# df_population.head(5)

In [4]:
# df_population.describe()

In [5]:
# df_animaux.head(5)

In [6]:
# df_animaux.describe()

In [7]:
# df_vegetaux.head(5)

In [8]:
# df_vegetaux.describe()

In [9]:
# df_cereales.head()

In [10]:
# df_cereales.describe()

In [11]:
# df_sous_alimentation.describe()

# Réponse 1  : Nombre total d’humains sur la planète

In [12]:
df_population2013 = df_population[df_population['Code année']==2013].copy()
df_population2013['Valeur'].sum() * 1000
#L'unité utilisé dans notre db est 1000 personnes

8413993000

<ul>
    <li> Pour le nombre total d'humains en 2013, nous avons obtenue : <b>8 413 993 000</b> personnes </li>
    <li>Or, selon <a href = https://www.worldbank.org/>la banque mondiale</a> la population mondiale en 2013 est environ 7 Md d'humaines </li>
    <li>Afin de clarifier notre résultat nous allons :      
        <ol>            
            <li>Vérifier si le nombre de population pour un pays donnée est calculé plusieurs fois</li>
            <li>Les valeurs manquantes pour année ou code année</li>
            <li>Observer les données <a href = https://www.fao.org/faostat/fr/#definitions>non officielles</a>  </li>                </ol>
    </li> 
</ul>

In [13]:
df_population2013['Zone'].value_counts()

Tadjikistan      1
Côte d'Ivoire    1
Afghanistan      1
Sénégal          1
Malaisie         1
                ..
Estonie          1
Mexique          1
Maldives         1
Danemark         1
Norvège          1
Name: Zone, Length: 175, dtype: int64

In [14]:
df_population2013['Code année'].isna().sum(),df_population2013['Année'].isna().sum()

(0, 0)

In [15]:
df_population2013[~df_population2013['Symbole'].isna()]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [16]:
df_Chine_A = df_population[df_population['Zone'].str.match(pat = '(^Chin.)')] 
df_Chine_A

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [17]:
df_Chine_A[df_Chine_A['Zone']!='Chine']['Valeur'].sum()

1416667

Nous remarquons que la population la zone chine est une agrégation de plusieurs autres zones, si nous calculons la somme de population de ces dernières, nous retouvons qu'elle est égale à la population chinoise, c'est pourquoi nous allons calculer la population mondiale sans prendre en considération la chine

<b> Suppression des aggrégations de la chine de toutes les dataframes </b>

In [18]:
df_population2013_sans_agg = df_population2013[~df_population2013['Code zone'].isin([41, 96,128,214])].copy()
df_animaux = df_animaux[~df_animaux['Code zone'].isin([41, 96,128,214])].copy()
df_vegetaux = df_vegetaux[~df_vegetaux['Code zone'].isin([41, 96,128,214])].copy()
df_cereales = df_cereales[~df_cereales['Code zone'].isin([41, 96,128,214])].copy()
df_sous_alimentation = df_sous_alimentation[~df_sous_alimentation['Code zone'].isin([41, 96,128,214])].copy()

In [19]:
#df_population2013_sans_chine = df_population2013[df_population2013['Zone']!='Chine']
# Pour confirmer que nous avons bien supprimer la chine de notre db:
#df_population2013_sans_agg[df_population2013_sans_agg['Zone'].str.match(pat = '(^Chin.)')]

In [20]:
# nb_population = df_population2013_sans_agg['Valeur'].sum() * 1000
nb_population = df_population2013_sans_agg['Valeur'].sum() * 1000
print(nb_population)

6997326000

=========================================================================== <br>
<B><I>Le nombre total d'humain en 2013 est 6997326000 </I></B> <br> ===========================================================================

<b> Suppression de la chine des autres bases de données </b>

In [21]:
# df_animaux = df_animaux[df_animaux['Zone']!='Chine'].copy()
# df_vegetaux = df_vegetaux[df_vegetaux['Zone']!='Chine'].copy()
# df_cereales = df_cereales[df_cereales['Zone']!='Chine'].copy()
# df_sous_alimentation = df_sous_alimentation[df_sous_alimentation['Zone']!='Chine'].copy()

# Réponse 2 : Equation à 3 termes

=========================================================================== <br>
<b><i>Disponibilité intérieure = <br>Production + Importations + |Variation de stock| - Exportations = 
<br>Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations (non alimentaire) + Nourriture
 </i></b>
=========================================================================== <br>

<strong><u> Exemple blé en france 2018 </u></strong>

In [22]:
# Données récupérées à partir du lien : https://www.fao.org/faostat/fr/#data/FBS
data_ble_france2018= pd.read_csv('data/ble_france_2018.csv')

In [23]:
data_ble_france2018.head(3)

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),68,France,5511,Production,2511,Blé et produits,2018,2018,Milliers de tonnes,35798,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2014-),68,France,5611,Importations - Quantité,2511,Blé et produits,2018,2018,Milliers de tonnes,2349,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2014-),68,France,5072,Variation de stock,2511,Blé et produits,2018,2018,Milliers de tonnes,-1819,Im,Données de la FAO basées sur une méthodologie ...

In [24]:
data_ble_france2018 = data_ble_france2018[['Code Élément', 'Élément', 'Unité', 'Valeur']].copy()

In [25]:
#Le premier terme
terme1=data_ble_france2018[data_ble_france2018['Code Élément']==5301]['Valeur'].iloc[0] #valeur de disponibilité intérieur

In [26]:
#Le second terme
terme2=data_ble_france2018[data_ble_france2018['Code Élément']==5511]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5611]['Valeur'].iloc[0] + \
data_ble_france2018[data_ble_france2018['Code Élément']==5072]['Valeur'].abs() .iloc[0]- \
data_ble_france2018[data_ble_france2018['Code Élément']==5911]['Valeur'].iloc[0]

In [27]:
#Le troisième terme
terme3=data_ble_france2018[data_ble_france2018['Code Élément']==5521]['Valeur'].iloc[0] +\
    data_ble_france2018[data_ble_france2018['Code Élément']==5527]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5123]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5131]['Valeur'].iloc[0] + \
    data_ble_france2018[data_ble_france2018['Code Élément']==5154]['Valeur'].iloc[0]+ \
    data_ble_france2018[data_ble_france2018['Code Élément']==5142]['Valeur'].iloc[0]

In [28]:
print('Terme1 = ',terme1)
print('Terme2 = ',terme2)
print('Terme2 = ',terme3)

Terme1 =  19521
Terme2 =  19520
Terme2 =  19521

 <b>Exemple blé en france en 2013 (à partir de notre db): voir projet3 archivé </b>

# Réponse 3 : Calculer pour chaque pays et chaque produit la disponibilité alimentaire en kcal puis en kg de protéines.

## Etape 1  : garder uniquement les colonnes importantes et rajouter une colonne "type" pour distinguer entre df_animaux et df_vegetaux

In [29]:
df_population1 = df_population2013_sans_agg[['Code zone','Valeur','Unité']].copy()

In [30]:
#df_animaux1 = df_animaux [['Code zone', 'Zone','Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_animaux1 = df_animaux.assign(Type = 'animal')

In [31]:
#df_vegetaux1 = df_vegetaux[['Code zone', 'Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
df_vegetaux1 = df_vegetaux.assign(Type = 'vegetal')

## Etape 2  : concaténation entre df_animaux1 et df_vegetaux1

In [32]:
df_Alimentation1=pd.concat([df_animaux1,df_vegetaux1])

In [33]:
print('df_animaux1.shape =\t', df_animaux1.shape , '\ndf_vegetaux2.shape =\t',
      df_vegetaux1.shape,'\ndf_Alimentation1.shape =\t',df_Alimentation1.shape)

df_animaux1.shape =	 (3643, 19)
df_vegetaux2.shape =	 (11682, 19)
df_Alimentation1.shape =	 (15325, 19)

## Etape3 : Jointure à gauche entre df_Alimentation1, df_population1

In [34]:
df_prinicpale = df_Alimentation1.merge( df_population1, on='Code zone', how="left", suffixes=('_produit','_population'))
print("df_Alimentation1.shape =\t",df_Alimentation1.shape,'\ndf_population1.shape =\t',df_population1.shape,
      '\ndf_alimentation_population.shape =',df_prinicpale.shape)

df_Alimentation1.shape =	 (15325, 19)
df_population1.shape =	 (171, 3)
df_alimentation_population.shape = (15325, 21)

In [35]:
df_prinicpale.rename(columns={'Valeur' : 'Population'}, inplace=True)
df_prinicpale.head(3)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),Type,Population,Unité
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,...,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN,animal,30552,1000 personnes
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36000000.0,...,0.0,36000000.0,NaN,36000000.0,NaN,NaN,NaN,animal,30552,1000 personnes
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,18000000.0,...,18000000.0,18000000.0,NaN,NaN,NaN,NaN,NaN,animal,30552,1000 personnes

## Etape 4 : Calcul de disponibilité alimentaire en kcal puis en kg

### 1. Disponibilité alimentaire en kcal 
<ul>
    <li>Disponibilite alimenatire en kcal = <br>'Disponibilité alimentaire (Kcal/personne/jour)' * Nombre d'habitants * unité (1000) * 365 jours</li>
</ul>

In [36]:
## df_prinicpale['Nb_Kcal'] = \
df_prinicpale['Disponibilite alimentaire (kcal/an)'] = df_prinicpale['Disponibilité alimentaire (Kcal/personne/jour)'] * 365 * df_prinicpale['Population'] * 1000

### 2. Disponibilité alimentaire en kg de protéine 
<ul>
    <li>Disponibilite alimenatire en kg de proteine = <br>Disponibilité de protéines en quantité (g/personne/jour) / 1000 (g --> kg) * Nombre d'habitants * unité (1000) * 365 jours</li>
</ul>
Nb : Pour optimiser le calcul, nous n'allons pas multiplier par 1000 puis diviser par 1000

In [37]:
# df_prinicpale['Nb_Kg_proteine'] = \
df_prinicpale['Disponibilite alimentaire proteine (kg/an)'] = df_prinicpale['Disponibilité de protéines en quantité (g/personne/jour)'] * 365 * df_prinicpale['Population']

In [38]:
df_prinicpale[['Zone','Produit','Disponibilite alimentaire (kcal/an)','Disponibilite alimentaire proteine (kg/an)']]

,Zone,Produit,Disponibilite alimentaire (kcal/an),Disponibilite alimentaire proteine (kg/an)
0,Afghanistan,Abats Comestible,5.575740e+10,8586639.60
1,Afghanistan,"Beurre, Ghee",2.564840e+11,334544.40
2,Afghanistan,Crème,3.345444e+10,446059.20
3,Afghanistan,Graisses Animales Crue,1.338178e+11,111514.80
4,Afghanistan,Lait - Excl Beurre,1.115148e+12,68247057.60
...,...,...,...,...
15320,Îles Salomon,Sésame,0.000000e+00,NaN
15321,Îles Salomon,Thé,0.000000e+00,8190.60
15322,Îles Salomon,Tomates,0.000000e+00,NaN
15323,Îles Salomon,Vin,0.000000e+00,NaN
15324,Îles Salomon,"Épices, Autres",8.190600e+08,30714.75

# Réponse 4 :

## 1. Ratio "énergie/poids" (en kcal/kg) pour chaque produit et chaque pays

In [39]:
df_ratio = df_prinicpale[['Zone','Produit','Nourriture (kg/an)','Disponibilite alimentaire (kcal/an)','Disponibilite alimentaire proteine (kg/an)']].copy()

<b> a . Remplacer les valeurs égales à 0 par des valeurs manquantes pour éviter la division sur 0 </b>

In [40]:
df_ratio.replace(0, np.nan, inplace=True)

In [41]:
df_ratio['Ratio Energie/poids (kcal/kg)'] = df_ratio['Disponibilite alimentaire (kcal/an)']/  df_ratio["Nourriture (kg/an)"]

## 2. Ratio "poids de protéines/poids total" (en g/kg) pour chaque produit et chaque pays

In [42]:
df_ratio['Ratio protéine/poids'] = df_ratio['Disponibilite alimentaire proteine (kg/an)']/ df_ratio["Nourriture (kg/an)"]

In [43]:
df_ratio = df_ratio.loc[:,['Produit','Ratio Energie/poids (kcal/kg)','Ratio protéine/poids']].copy()

<Strong>Exemple :</Strong> <br>
Dans <a href='https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)'> Wikipedia </a> on trouve que l'apport énergitique <b> des oeufs crus</b> est de 147 kcal pour 100g, soit 1470 par kg

In [44]:
df_ratio[df_ratio['Produit']=='Oeufs']

     Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
5      Oeufs                    1393.935000              0.105939
22     Oeufs                    1419.396632              0.114566
44     Oeufs                    1331.866750              0.105681
65     Oeufs                    1222.768481              0.104162
87     Oeufs                    1405.130381              0.114204
...      ...                            ...                   ...
3545   Oeufs                    1373.376494              0.106769
3567   Oeufs                    1322.116905              0.098931
3589   Oeufs                    1401.723257              0.106881
3610   Oeufs                    1010.201912              0.111122
3632   Oeufs                    1023.825000              0.081906

[171 rows x 3 columns]

<Strong>Exemple :</Strong> <br>
Dans <a href ='https://fr.wikipedia.org/wiki/Avoine_cultiv%C3%A9e'> Wikipedia </a> on trouve que<b> l'avoine</b> contient 10,70 g de proteine pour 100g, soit un ratio de 0,107

In [45]:
df_ratio[df_ratio['Produit']=='Avoine']

      Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
3697   Avoine                    2407.905000              0.077053
3770   Avoine                            NaN                   NaN
3840   Avoine                            NaN                   NaN
3912   Avoine                    3090.863110              0.114124
3984   Avoine                            NaN                   NaN
...       ...                            ...                   ...
14915  Avoine                            NaN                   NaN
14987  Avoine                            NaN                   NaN
15057  Avoine                    2322.192128              0.095332
15130  Avoine                    1754.587893              0.072954
15203  Avoine                    2410.306316              0.114490

[164 rows x 3 columns]

# Réponse 5 :

<b> a .Moyenne du ratio pour chaque aliment </b>

In [46]:
df_ratio = df_ratio.groupby('Produit').mean().reset_index()

<b> Les 5 aliments les plus calorique </b>

In [47]:
Elts_caloriques = df_ratio.sort_values(by='Ratio Energie/poids (kcal/kg)', ascending=False).head(5)
Elts_caloriques[['Produit','Ratio Energie/poids (kcal/kg)']]

                     Produit  Ratio Energie/poids (kcal/kg)
45  Huiles de Foie de Poisso                    9982.932500
42       Huile de Son de Riz                    9379.568137
43           Huile de Sésame                    9314.546692
46        Huiles de Poissons                    9003.715504
34          Huile d'Arachide                    8925.582634

<b>Les 5 aliments les plus protéinés</b>

In [48]:
Elts_proteinees = df_ratio.sort_values(by='Ratio protéine/poids', ascending=False).head(5)
Elts_proteinees[['Produit','Ratio protéine/poids']]

                   Produit  Ratio protéine/poids
27  Graines Colza/Moutarde              0.285365
81                    Soja              0.285156
6   Arachides Decortiquees              0.251573
70                    Pois              0.223219
50     Légumineuses Autres              0.220334

<b>Exemples précedents (Selon la moyenne):</b>

In [49]:
df_ratio[df_ratio['Produit']=='Oeufs']

   Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
58   Oeufs                    1343.440349              0.105473

In [50]:
df_ratio[df_ratio['Produit']=='Avoine']

  Produit  Ratio Energie/poids (kcal/kg)  Ratio protéine/poids
7  Avoine                     2135.35579              0.084294

<b> Rajout dans la df principale les ratios </b>

In [51]:
df_prinicpale = df_prinicpale.merge(df_ratio, on='Produit').copy()

#  Réponse 6 : Disponibilité intérieure mondiale pour les produits végétaux

In [52]:
df_alimentation_vegetal = df_prinicpale[df_prinicpale['Type'] == 'vegetal'].copy()

In [53]:
#df_vegetal_interieur = df_alimentation_vegetal[['Zone','Produit','Disponibilité intérieure (kg/an)','Ratio Energie/poids (kcal/kg)','Ratio protéine/poids']].copy()

<b> a. Disponibilité intérieure mondiale en kcal (pour les produits végétaux uniquement)</b>

In [54]:
#df_alimentation_vegetal.columns

In [55]:
df_alimentation_vegetal['Disponibilité intérieure (kcal/an)'] = df_alimentation_vegetal["Disponibilité intérieure (kg/an)"] * \
    df_alimentation_vegetal["Ratio Energie/poids (kcal/kg)"] 
total_disponibilite_interieur_vegetal_kcal = df_alimentation_vegetal['Disponibilité intérieure (kcal/an)'].sum()
print('Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement = ',total_disponibilite_interieur_vegetal_kcal)

Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  1.3780136677764184e+16

============================================================================================================ <br>
Disponibilité intérieure mondiale en kcal pour les produits végétaux uniquement =  <b>1.3780136677764184e+16</b> <br>
============================================================================================================

<b> a. Disponibilité intérieure mondiale en proteine (pour les produits végétaux uniquement)

In [56]:
df_alimentation_vegetal['Disponibilité intérieure en proteine (g/an)'] = df_alimentation_vegetal["Disponibilité intérieure (kg/an)"] * \
    df_alimentation_vegetal["Ratio protéine/poids"] * 1000
total_disponibilite_interieur_vegetal_proteine = df_alimentation_vegetal['Disponibilité intérieure en proteine (g/an)'].sum()
print('total_disponibilite_interieur_vegetal_proteine = ',total_disponibilite_interieur_vegetal_proteine)

total_disponibilite_interieur_vegetal_proteine =  349177827738287.5

============================================================================================================ <br>
Disponibilité intérieure mondiale en proteine pour les produits végétaux uniquement =  <b>349177827738287.5 g</b> <br>
============================================================================================================

# Réponse 7 : Nombre d'humains qui pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture

<b>a. Selon le nombre de calories :</b><br>

In [57]:
nombre_personne_nourris_disponibilite_interieur_vegetal_kcal =total_disponibilite_interieur_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_kcal = nombre_personne_nourris_disponibilite_interieur_vegetal_kcal *100/nb_population
print ('Nombre de personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories =', nombre_personne_nourris_disponibilite_interieur_vegetal_kcal)
print('Pourcentage des personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories =', pourcentage_nourris_disponibilite_interieur_vegetal_kcal,'%')

Nombre de personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = 15101519646.864859
Pourcentage des personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = 215.81843759837483 %

Sachant que la ration alimentaire moyenne nécessaire est de <b>2 500 kcal/personne/jour</b>. [Source <a href="https://fr.wikipedia.org/wiki/Ration_alimentaire#cite_note-2">Wikipedia</a> ] , alors :<br>
Le nombre de personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = <b>15101519646</b><br>
Pourcentage des personnes nourries en utilisant la disponibilite interieur vegetal selon de nombre de calories = <b>215.89 %</b>

<b>Selon le nombre de proteines : </b>

In [58]:
nombre_personne_nourris_disponibilite_interieur_vegetal_proteine =total_disponibilite_interieur_vegetal_proteine / (49 * 365)
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = nombre_personne_nourris_disponibilite_interieur_vegetal_proteine *100/nb_population
print ('nombre_personne_nourris_disponibilite_interieur_vegetal_proteine =', nombre_personne_nourris_disponibilite_interieur_vegetal_proteine)
print('pourcentage_nourris_disponibilite_interieur_vegetal_proteine =', pourcentage_nourris_disponibilite_interieur_vegetal_proteine,'%')

nombre_personne_nourris_disponibilite_interieur_vegetal_proteine = 19523501690.706596
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = 279.0137502626946 %

Les besoins moyens en protéines ont été définis par la FAO qui recommande <b>49 g</b> de protéines pour l'hommes adultes [<a href = https://fr.wikipedia.org/wiki/Prot%C3%A9ine>Source</a>].
nombre_personne_nourris_disponibilite_interieur_vegetal_proteine = 19523501690.706596 <br>
pourcentage_nourris_disponibilite_interieur_vegetal_proteine = 279.0137502626946 %

In [59]:
#  L'ANSES recommande un apport nutritionnel conseillé (ANC) de 0,83 g·kg-1·j-1, pour un maximum de 2,2 g·kg-1·j-1 chez l’adulte en bonne santé, soit 62 g par jour pour un homme de 75 kg. Il faut noter que les ANC sont supérieurs aux besoins moyens qui sont de 0,66 g·kg-1·j-1 selon ce même rapport, ce qui donnerait 49,5 g par jour pour le cas précédent.

# Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

<b> a. Selon le nombre de calories</b> :

In [60]:
perte_animaux_kcal = (df_alimentation_vegetal.loc[:,'Aliments pour animaux (kg/an)']+df_alimentation_vegetal.loc[:,'Pertes (kg/an)']) \
                 * df_alimentation_vegetal.loc[:,"Ratio Energie/poids (kcal/kg)"] 
df_alimentation_vegetal.loc[:,'Disponibilite sans perte (kcal)'] = perte_animaux_kcal + df_alimentation_vegetal.loc[:,'Disponibilite alimentaire (kcal/an)'] 
total_disponibilite_sans_perte_vegetal_kcal = df_alimentation_vegetal['Disponibilite sans perte (kcal)'].sum()
print("total_disponibilite_sans_perte_vegetal_kcal = ",total_disponibilite_sans_perte_vegetal_kcal)

total_disponibilite_sans_perte_vegetal_kcal =  6334924922323592.0

total_disponibilite_sans_perte_vegetal_kcal =  6334924922323592.0

In [61]:
#df_disponibilité_sans_perte_kcal = df_alimentation_vegetal[['Zone','Code zone','Produit','Disponibilite sans perte']]

In [62]:
nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =total_disponibilite_sans_perte_vegetal_kcal / (2500 * 365)
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal *100/nb_population
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =', nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal =', pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal,'%')

nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal = 6942383476.519005
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = 99.21480686363627 %

nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal = 6942383476.519005<br>
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = 99.21480686363627 %

<b> a. Selon le nombre de proteines</b> :

In [63]:
perte_animaux_proteine = (df_alimentation_vegetal.loc[:,'Aliments pour animaux (kg/an)']+df_alimentation_vegetal.loc[:,'Pertes (kg/an)']) \
                 * df_alimentation_vegetal.loc[:,"Ratio protéine/poids"] 
df_alimentation_vegetal.loc[:,'Disponibilite sans perte proteine(kg/an)'] = perte_animaux_proteine + df_alimentation_vegetal.loc[:,'Disponibilite alimentaire proteine (kg/an)'] 
total_disponibilite_sans_perte_vegetal_proteine = df_alimentation_vegetal['Disponibilite sans perte proteine(kg/an)'].sum() * 1000
print("total_disponibilite_sans_perte_vegetal_proteine en g= ",total_disponibilite_sans_perte_vegetal_proteine)

total_disponibilite_sans_perte_vegetal_proteine en g=  167942868574310.88

total_disponibilite_sans_perte_vegetal_proteine en g=  167942868574310.88

In [64]:
nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine =total_disponibilite_sans_perte_vegetal_proteine / (49 * 365)
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine *100/nb_population
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine =', nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine =', pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine,'%')

nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine = 9390152003.036673
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = 134.1962915982001 %

nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine = 9390152003.036673  <br>
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = 134.1962915982001 %

# Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [65]:
# Vegetal ou pas ?

<b>a. Selon le nombre de kcal :</b>

In [66]:
df_prinicpale.columns

Index(['Zone', 'Code zone', 'Produit', 'Aliments pour animaux (kg/an)',
       'Autres utilisations (non alimentaire) (kg/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure (kg/an)', 'Exportations - Quantité (kg/an)',
       'Importations - Quantité (kg/an)', 'Nourriture (kg/an)',
       'Pertes (kg/an)', 'Production (kg/an)', 'Semences (kg/an)',
       'Traitement (kg/an)', 'Variation de stock (kg/an)', 'Type',
       'Population', 'Unité', 'Disponibilite alimentaire (kcal/an)',
       'Disponibilite alimentaire proteine (kg/an)',
       'Ratio Energie/poids (kcal/kg)', 'Ratio protéine/poids'],
      dtype='object')

In [67]:
disponibilite_globale_kcal = df_prinicpale['Disponibilite alimentaire (kcal/an)'].sum()

In [68]:
nb_personne_nourris_disponibilite_gobale_kcal =disponibilite_globale_kcal / (2500 * 365)
pourcentage_personne_nourris_disponibilite_gobale_kcal = nb_personne_nourris_disponibilite_gobale_kcal *100 / nb_population
print('disponibilite_globale_kcal = ',disponibilite_globale_kcal)
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal =', nb_personne_nourris_disponibilite_gobale_kcal)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal =', pourcentage_personne_nourris_disponibilite_gobale_kcal,'%')

disponibilite_globale_kcal =  7364437353675000.0
nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal = 8070616278.0
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = 115.33857759378368 %

disponibilite_globale_kcal =  7364437353675000.0  <br>
nombre_personne_nourris_disponibilite_sans_perte_vegetal_kcal = 8070616278.0 <br>
pourcentage_nourris_disponibilite_sans_perte_vegetal_kcal = 115.33857759378368 % <br>

<b>b. Selon le nombre de proteines : </b>

In [69]:
disponibilite_globale_proteine = df_prinicpale['Disponibilite alimentaire proteine (kg/an)'].sum() * 1000

In [70]:
nb_personne_nourris_disponibilite_gobale_proteine =disponibilite_globale_proteine / (49 * 365)
pourcentage_personne_nourris_disponibilite_gobale_proteine = nb_personne_nourris_disponibilite_gobale_proteine *100 / nb_population
print('disponibilite_globale_proteine = ',disponibilite_globale_proteine)
print ('nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine =', nb_personne_nourris_disponibilite_gobale_proteine)
print('pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine =', pourcentage_personne_nourris_disponibilite_gobale_proteine,'%')

disponibilite_globale_proteine =  207249144517349.97
nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine = 11587875007.959183
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = 165.60433239724978 %

disponibilite_globale_proteine =  207249144517349.97  <br>
nombre_personne_nourris_disponibilite_sans_perte_vegetal_proteine = 11587875007.959183 <br>
pourcentage_nourris_disponibilite_sans_perte_vegetal_proteine = 165.60433239724978 % <br>

# Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [80]:
df_sous_alimentation20132015 = df_sous_alimentation[df_sous_alimentation['Code année']==20132015].copy()

In [81]:
# df_sous_alimentation2013[df_sous_alimentation2013['Symbole']!='F']

In [82]:
# df_sous_alimentation20132015['Valeur'].fillna(0)

In [83]:
# df['a'] = pd.to_numeric(df['a'],errors = 'coerce')
df_sous_alimentation20132015.loc[:,'Valeur'] = pd.to_numeric(df_sous_alimentation20132015.loc[:,'Valeur'], errors = "coerce")

In [88]:
nb_sous_alimentation20132015 = df_sous_alimentation20132015['Valeur'].sum() * 1000000
print('nb_sous_alimentation20132015 = ',nb_sous_alimentation20132015)
pourcentage_sous_alimentation20132015  = nb_sous_alimentation20132015 *100/ nb_population
print('pourcentage_sous_alimentation20132015 = ',pourcentage_sous_alimentation20132015)

nb_sous_alimentation20132015 =  735200000.0
pourcentage_sous_alimentation20132015 =  10.506870767490325

nb_sous_alimentation20132015 =  735200000.0 <br>
pourcentage_sous_alimentation20132015 =  10.506870767490325

# Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [173]:
# df_cereales["Produit"].apply(lambda d = d.drop_duplicates())

In [161]:
# df.apply(lambda x: '-'.join(x), axis = 1)

In [175]:
# df_cereales.groupby('Produit').apply(lambda d: d.drop_duplicates())
df_cereales.head(3)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées

<b> a. Liste des produits considérés comme des céréales selon la FAO.</b>

In [176]:
df_type_cereal = df_cereales.drop_duplicates(subset = ['Code Produit', 'Produit'])
df_type_cereal[['Code Produit', 'Produit']]

    Code Produit           Produit
0           2511               Blé
1           2805  Riz (Eq Blanchi)
2           2513              Orge
3           2514              Maïs
4           2517            Millet
9           2515            Seigle
10          2516            Avoine
12          2518            Sorgho
13          2520  Céréales, Autres

<b> b. Rajout de la colonne "is_cereal"de type booléen pour distinguer les céréales des autres produits </b>

In [177]:
type_cereal = df_type_cereal["Produit"].tolist()
df_prinicpale['is_cereal'] = df_prinicpale['Produit'].apply(lambda x:True if x in type_cereal else False)

In [178]:
df_prinicpale_cereal = df_prinicpale[df_prinicpale['is_cereal']==True].copy()
df_prinicpale_cereal = df_prinicpale_cereal[['Zone','Produit','Aliments pour animaux (kg/an)', 'Nourriture (kg/an)']].copy()

In [179]:
# df_prinicpale_cereal[df_prinicpale_cereal['is_cereal']==False]

In [181]:
cereales_animaux = df_prinicpale_cereal['Aliments pour animaux (kg/an)'].sum()
cereales_nourriture = df_prinicpale_cereal['Nourriture (kg/an)'].sum()

proportion_cereales_animaux = 100 * cereales_animaux / (cereales_animaux + cereales_nourriture)
#proportion_cereales_nourriture = 100 * cereales_nourriture / (cereales_animaux + cereales_nourriture)

print('proportion_cereales_animaux = ', proportion_cereales_animaux)
#print('proportion_cereales_nourriture = ',proportion_cereales_nourriture)

proportion_cereales_animaux =  45.91400584899829