<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Projet-5" data-toc-modified-id="Projet-5-1">Projet 5</a></span></li><li><span><a href="#Import-DATA" data-toc-modified-id="Import-DATA-2">Import DATA</a></span><ul class="toc-item"><li><span><a href="#df_volaille" data-toc-modified-id="df_volaille-2.1">df_volaille</a></span></li><li><span><a href="#df_population" data-toc-modified-id="df_population-2.2">df_population</a></span><ul class="toc-item"><li><span><a href="#Suppression-de-la-chine" data-toc-modified-id="Suppression-de-la-chine-2.2.1">Suppression de la chine</a></span></li><li><span><a href="#Pivot_table" data-toc-modified-id="Pivot_table-2.2.2">Pivot_table</a></span></li></ul></li></ul></li><li><span><a href="#df_alimentation" data-toc-modified-id="df_alimentation-3">df_alimentation</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Jointure" data-toc-modified-id="Jointure-3.0.1">Jointure</a></span></li></ul></li><li><span><a href="#df_volaille" data-toc-modified-id="df_volaille-3.1">df_volaille</a></span></li></ul></li><li><span><a href="#save-data" data-toc-modified-id="save-data-4">save data</a></span></li><li><span><a href="#df_pib" data-toc-modified-id="df_pib-5">df_pib</a></span></li></ul></div>

# Projet 5

In [1]:
import pandas as pd
import numpy as np

# Import DATA

In [3]:
df_population = pd.read_csv('data\\src\\population_en.csv')

In [4]:
df_alimentation = pd.read_csv("data\\src\\alimentation_en.csv")

In [5]:
df_volaille = pd.read_csv("data\\src\\poultry_meat_en.csv")

## df_volaille

In [6]:
df_volaille.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2019,2019,1000 tonnes,28.00,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2734,Poultry Meat,2019,2019,kg,1.76,Fc,Calculated data
2,FBS,Food Balances (2010-),3,Albania,5511,Production,2734,Poultry Meat,2019,2019,1000 tonnes,12.00,Im,FAO data based on imputation methodology

## df_population

In [7]:
df_population.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,36296,*,Unofficial figure
1,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,38042,*,Unofficial figure
2,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,2884,*,Unofficial figure

In [8]:
df_population['Flag Description'].unique()

array(['Unofficial figure',
       'Aggregate, may include official, semi-official, estimated or calculated data'],
      dtype=object)

In [9]:
df_population[df_population['Flag Description'] == 'Aggregate, may include official, semi-official, estimated or calculated data']

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
62,FBS,Food Balances (2010-),351,China,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,1452626,A,"Aggregate, may include official, semi-official..."
63,FBS,Food Balances (2010-),351,China,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,1465634,A,"Aggregate, may include official, semi-official..."

In [10]:
df_population[df_population['Area'].str.contains('Chin')]

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
62,FBS,Food Balances (2010-),351,China,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,1452626,A,"Aggregate, may include official, semi-official..."
63,FBS,Food Balances (2010-),351,China,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,1465634,A,"Aggregate, may include official, semi-official..."
64,FBS,Food Balances (2010-),96,"China, Hong Kong SAR",511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,7306,*,Unofficial figure
65,FBS,Food Balances (2010-),96,"China, Hong Kong SAR",511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,7436,*,Unofficial figure
66,FBS,Food Balances (2010-),128,"China, Macao SAR",511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,623,*,Unofficial figure
67,FBS,Food Balances (2010-),128,"China, Macao SAR",511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,640,*,Unofficial figure
68,FBS,Food Balances (2010-),41,"China, mainland",511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,1421022,*,Unofficial figure
69,FBS,Food Balances (2010-),41,"China, mainland",511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,1433784,*,Unofficial figure
70,FBS,Food Balances (2010-),214,"China, Taiwan Province of",511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,23675,*,Unofficial figure
71,FBS,Food Balances (2010-),214,"China, Taiwan Province of",511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,23774,*,Unofficial figure

### Suppression de la chine

In [11]:
df_population = df_population[~df_population['Area Code'].isin({96,128,41,214})].copy()

### Pivot_table

In [12]:
df_population_pivot = pd.pivot_table(df_population, index = ['Area Code','Area','Unit'], columns =['Year'],values='Value').reset_index()
df_population_pivot = df_population_pivot.rename(columns={2017: "population 2017",2019: "population 2019"})
# df_population_pivot = df_population_pivot.reindex(columns=['Code zone','Zone','population 2017','population 2019','Unité'])
df_population_pivot.head()

Year  Area Code         Area          Unit  population 2017  population 2019
0             1      Armenia  1000 persons             2945             2958
1             2  Afghanistan  1000 persons            36296            38042
2             3      Albania  1000 persons             2884             2881
3             4      Algeria  1000 persons            41389            43053
4             7       Angola  1000 persons            29817            31825

In [13]:
df_population_pivot['Population difference (%)'] = (df_population_pivot["population 2019"]-df_population_pivot["population 2017"])*100/(df_population_pivot["population 2017"])
df_population_pivot.head()

Year,Area Code,Area,Unit,population 2017,population 2019,Population difference (%)
0,1,Armenia,1000 persons,2945,2958,0.441426
1,2,Afghanistan,1000 persons,36296,38042,4.810447
2,3,Albania,1000 persons,2884,2881,-0.104022
3,4,Algeria,1000 persons,41389,43053,4.020392
4,7,Angola,1000 persons,29817,31825,6.734413

# df_alimentation

In [14]:
df_alimentation.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2901,Grand Total,2019,2019,kcal/capita/day,2273.00,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2901,Grand Total,2019,2019,g/capita/day,57.31,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2941,Animal Products,2019,2019,kcal/capita/day,187.00,Fc,Calculated data

In [15]:
# data_pivot = pd.pivot_table(df_alimentation_population, values='Value', index = ['Area Code','Area','Year','population 2017','population 2019','Unit_population','Population difference (%)'], columns = ['Element','Item']).reset_index()
# data_pivot.head(2)

In [16]:
df_alimentation_pivot = pd.pivot_table(df_alimentation, values='Value', index = ['Area Code','Area','Year'], columns = ['Element','Item']).reset_index()
df_alimentation_pivot.head(2)

Element Area Code         Area  Year Food supply (kcal/capita/day)  \
Item                                               Animal Products
0               1      Armenia  2019                         975.0
1               2  Afghanistan  2019                         187.0

Element             Protein supply quantity (g/capita/day)
Item    Grand Total                        Animal Products Grand Total
0            3022.0                                  52.86       94.29
1            2273.0                                  10.34       57.31

In [17]:
df_alimentation_pivot['Animal protein (%)'] = \
    df_alimentation_pivot['Food supply (kcal/capita/day)','Animal Products'] * 100 / \
    df_alimentation_pivot['Food supply (kcal/capita/day)','Grand Total']
df_alimentation_pivot.head(2)

Element Area Code         Area  Year Food supply (kcal/capita/day)  \
Item                                               Animal Products
0               1      Armenia  2019                         975.0
1               2  Afghanistan  2019                         187.0

Element             Protein supply quantity (g/capita/day)              \
Item    Grand Total                        Animal Products Grand Total
0            3022.0                                  52.86       94.29
1            2273.0                                  10.34       57.31

Element Animal protein (%)
Item
0                32.263402
1                 8.227013

In [18]:
# data_pivot = data_pivot[['Code zone','Zone','Année','Difference population en %','Disponibilité alimentaire (Kcal/personne/jour)','proteine animal en %','Disponibilité de protéines en quantité (g/personne/jour)']]

In [19]:
# https://techblog.deepki.com/dataframe-multi-index/
df_alimentation_pivot.columns = df_alimentation_pivot.columns.to_series().str.join('_')
# On renomme le nom de la colonne qui a `_` à le fin
cols_rename = {c: c[:-1] for c in df_alimentation_pivot.columns if c[-1] == '_'}
df_alimentation_pivot = df_alimentation_pivot.rename(columns=cols_rename).reset_index()
df_alimentation_pivot.head(2)

,index,Area Code,Area,Year,Food supply (kcal/capita/day)_Animal Products,Food supply (kcal/capita/day)_Grand Total,Protein supply quantity (g/capita/day)_Animal Products,Protein supply quantity (g/capita/day)_Grand Total,Animal protein (%)
0,0,1,Armenia,2019,975.0,3022.0,52.86,94.29,32.263402
1,1,2,Afghanistan,2019,187.0,2273.0,10.34,57.31,8.227013

### Jointure

In [20]:
df_alimentation_population = df_alimentation_pivot.merge(df_population_pivot, how='inner', on=['Area Code','Area'],suffixes=('_alimentaire','_population'))
df_alimentation_population.head(3)

,index,Area Code,Area,Year,Food supply (kcal/capita/day)_Animal Products,Food supply (kcal/capita/day)_Grand Total,Protein supply quantity (g/capita/day)_Animal Products,Protein supply quantity (g/capita/day)_Grand Total,Animal protein (%),Unit,population 2017,population 2019,Population difference (%)
0,0,1,Armenia,2019,975.0,3022.0,52.86,94.29,32.263402,1000 persons,2945,2958,0.441426
1,1,2,Afghanistan,2019,187.0,2273.0,10.34,57.31,8.227013,1000 persons,36296,38042,4.810447
2,2,3,Albania,2019,1021.0,3338.0,62.47,116.02,30.587178,1000 persons,2884,2881,-0.104022

In [21]:
df_alimentation_population[df_alimentation_population['Area'].str.contains('Chin')]

,index,Area Code,Area,Year,Food supply (kcal/capita/day)_Animal Products,Food supply (kcal/capita/day)_Grand Total,Protein supply quantity (g/capita/day)_Animal Products,Protein supply quantity (g/capita/day)_Grand Total,Animal protein (%),Unit,population 2017,population 2019,Population difference (%)
174,178,351,China,2019,754.0,3340.0,41.62,105.11,22.57485,1000 persons,1452626,1465634,0.895482

In [22]:
# df_alimentation_population = df_alimentation_population[['Area Code', 'Area', 'Year', 'population 2019', 'Population difference (%)','Animal protein (%)',
#        'Food supply (kcal/capita/day)_Grand Total', 'Protein supply quantity (g/capita/day)_Grand Total']].copy()

In [23]:
df_alimentation_population.rename(columns={'population 2019' : 'population 2019 (1000 p)','Food supply (kcal/capita/day)_Grand Total':'Food supply (kcal/capita/day)',
                         'Protein supply quantity (g/capita/day)_Grand Total':'Protein supply quantity (g/capita/day)'}, inplace=True)

## df_volaille

In [24]:
df_volaille.head(3)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2019,2019,1000 tonnes,28.00,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2734,Poultry Meat,2019,2019,kg,1.76,Fc,Calculated data
2,FBS,Food Balances (2010-),3,Albania,5511,Production,2734,Poultry Meat,2019,2019,1000 tonnes,12.00,Im,FAO data based on imputation methodology

In [25]:
df_volaille.columns

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [26]:
# df_volaille = df_volaille[['Area Code', 'Area', 'Element','Value']]

In [27]:
df_volaille_pivot = pd.pivot_table(df_volaille, index = ['Area Code','Area'], columns = ['Element'],values='Value').reset_index()

In [28]:
df_volaille_pivot.rename(columns={'Food supply quantity (kg/capita/yr)':'Poultry Meat supply quantity (kg/capita/yr)','Production':'Poultry Meat Production (1000 tonnes)'},inplace=True)

In [29]:
df_volaille_pivot.head()

Element,Area Code,Area,Poultry Meat supply quantity (kg/capita/yr),Poultry Meat Production (1000 tonnes)
0,1,Armenia,18.32,12.0
1,2,Afghanistan,1.76,28.0
2,3,Albania,11.71,12.0
3,4,Algeria,6.67,291.0
4,7,Angola,10.28,49.0

In [30]:
df_alimentation_population.head()

,index,Area Code,Area,Year,Food supply (kcal/capita/day)_Animal Products,Food supply (kcal/capita/day),Protein supply quantity (g/capita/day)_Animal Products,Protein supply quantity (g/capita/day),Animal protein (%),Unit,population 2017,population 2019 (1000 p),Population difference (%)
0,0,1,Armenia,2019,975.0,3022.0,52.86,94.29,32.263402,1000 persons,2945,2958,0.441426
1,1,2,Afghanistan,2019,187.0,2273.0,10.34,57.31,8.227013,1000 persons,36296,38042,4.810447
2,2,3,Albania,2019,1021.0,3338.0,62.47,116.02,30.587178,1000 persons,2884,2881,-0.104022
3,3,4,Algeria,2019,379.0,3493.0,24.09,90.84,10.850272,1000 persons,41389,43053,4.020392
4,4,7,Angola,2019,211.0,2445.0,15.54,52.09,8.629857,1000 persons,29817,31825,6.734413

In [31]:
new_data = df_alimentation_population.merge(df_volaille_pivot, how='inner',on =['Area Code','Area'])

In [32]:
# Pour 100g de poulet, 239 kcal
new_data['Poultry supply (kcal/capita/day)'] = new_data['Poultry Meat supply quantity (kg/capita/yr)'] * 2390 /365

In [33]:
new_data['Poultry quantity (%)'] = new_data['Poultry supply (kcal/capita/day)']*100/new_data['Food supply (kcal/capita/day)']

In [34]:
new_data=new_data[['Area Code', 'Area', 'Year', 'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)', 'Animal protein (%)', 'population 2017','population 2019 (1000 p)',
       'Population difference (%)', 'Poultry quantity (%)','Poultry Meat Production (1000 tonnes)']].copy()

In [35]:
new_data.rename(columns={'population 2019' : 'population 2019 (1000 p)','Food supply (kcal/capita/day)_Grand Total':'Food supply (kcal/capita/day)',
                         'Protein supply quantity (g/capita/day)_Grand Total':'Protein supply quantity (g/capita/day)'}, inplace=True)

In [36]:
# new_data = new_data[['Area Code', 'Area', 'Year', 'population 2019', 'Population difference (%)','Animal protein (%)',
#        'Food supply (kcal/capita/day)_Grand Total',
#        'Protein supply quantity (g/capita/day)_Grand Total']].copy()

# save data

In [37]:
new_data.to_csv('data\\new_data.csv')

# df_pib

In [38]:
df_pib1 = pd.read_csv('data\\src\\pib1.csv')
df_pib_cia = pd.read_csv('data\\src\\pib_cia_imf.csv')
df_pib2 = pd.read_csv('data\\src\\pib2.csv')

In [39]:
# df_pib_imf = pd.read_csv('data\\src\\pib_imf2019.csv')
# df_pib_cia = pd.read_csv('data\\src\\pib_cia.csv')

In [40]:
df_pib1 = df_pib1[['Country Name', 'Country Code','2019']].copy()

In [41]:
df_pib1.head()

                  Country Name Country Code         2019
0                        Aruba          ABW          NaN
1  Africa Eastern and Southern          AFE  1530.059177
2                  Afghanistan          AFG   494.179350
3   Africa Western and Central          AFW  1777.918672
4                       Angola          AGO  2809.626088

In [42]:
df_pib_null = df_pib1[df_pib1['2019'].isnull()]

In [43]:
df_pib1 = df_pib1[~df_pib1['2019'].isnull()].copy()

In [44]:
df_pib = pd.concat([df_pib_cia,df_pib1])

In [45]:
df_pib2 = df_pib2[['Country Code','Region']].copy()

In [46]:
df_pib = df_pib.merge(df_pib2, how='inner', on='Country Code')

In [47]:
df_pib[df_pib['Country Name'].str.contains('Chin')]

             Country Name Country Code          2019               Region
50                  China          CHN  10143.838172  East Asia & Pacific
104  Hong Kong SAR, China          HKG  48354.473367  East Asia & Pacific
153      Macao SAR, China          MAC  86197.365694  East Asia & Pacific

In [48]:
# df_pib[df_pib['Country Name'].str.contains('enezue')]

In [49]:
df_pib1.isnull().sum()

Country Name    0
Country Code    0
2019            0
dtype: int64

In [50]:
df_pib.isnull().sum()

Country Name     0
Country Code     0
2019             0
Region          48
dtype: int64

In [51]:
# df_pib[df_pib['Region'].isnull()]

In [52]:
df_pib.dropna(inplace=True)

In [53]:
contry = df_pib[~df_pib['Country Name'].isin(new_data['Area'])].sort_values(by=['Country Name'])

In [54]:
# contry

In [55]:
area = new_data[~new_data['Area'].isin(df_pib['Country Name'])].sort_values(by=['Area'])
area = area[['Area','Area Code']]

In [56]:
# df_area_contry = pd.DataFrame({'Contry': contry,'Area':area})

In [57]:
new_data = new_data.set_index('Area Code')

In [58]:
new_data.loc[12,'Area'] = 'Bahamas, The'
new_data.loc[19,'Area'] = 'Bolivia'
new_data.loc[46,'Area'] = 'Congo, Rep.'
new_data.loc[107,'Area'] = "Cote d'Ivoire"
new_data.loc[250,'Area'] = 'Congo, Dem. Rep.'
new_data.loc[59,'Area'] = 'Egypt, Arab Rep.'
new_data.loc[75,'Area'] = 'Gambia, The'
new_data.loc[102,'Area'] = 'Iran, Islamic Rep.'
new_data.loc[113,'Area'] = 'Kyrgyz Republic'
new_data.loc[120,'Area'] = 'Lao PDR'
new_data.loc[117,'Area'] = 'Korea, Rep.'
new_data.loc[146,'Area'] = 'Moldova'
new_data.loc[188,'Area'] = 'St. Kitts and Nevis'
new_data.loc[189,'Area'] = 'St. Lucia'
new_data.loc[191,'Area'] = 'St. Vincent and the Grenadines'
new_data.loc[199,'Area'] = 'Slovak Republic'
new_data.loc[229,'Area'] = 'United Kingdom'
new_data.loc[215,'Area'] = 'Tanzania'
new_data.loc[231,'Area'] = 'United States'
new_data.loc[237,'Area'] = 'Vietnam'
new_data.loc[249,'Area'] = 'Yemen, Rep.'
new_data.loc[167,'Area']='Czech Republic'
new_data.loc[116,'Area']="Korea, Dem. People's Rep."
new_data.loc[236,'Area']='Venezuela, RB'

In [59]:
print(new_data.shape)
print(df_pib.shape)

(175, 10)
(217, 4)

In [60]:
new_data = new_data.reset_index()

In [61]:
# area = new_data[~new_data['Area'].isin(df_pib['Country Name'])].sort_values(by=['Area'])
# area

In [62]:
new_data_pib = new_data.merge(df_pib, how='left',left_on='Area',right_on='Country Name')
new_data_pib.rename(columns={'2019':'GDP per capita'}, inplace=True)
# print(new_data_pib.shape)
# new_data_pib.head(3)

In [63]:
new_data_pib.columns

Index(['Area Code', 'Area', 'Year', 'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)', 'Animal protein (%)',
       'population 2017', 'population 2019 (1000 p)',
       'Population difference (%)', 'Poultry quantity (%)',
       'Poultry Meat Production (1000 tonnes)', 'Country Name', 'Country Code',
       'GDP per capita', 'Region'],
      dtype='object')

In [64]:
new_data_pib.isnull().sum()

Area Code                                 0
Area                                      0
Year                                      0
Food supply (kcal/capita/day)             0
Protein supply quantity (g/capita/day)    0
Animal protein (%)                        0
population 2017                           0
population 2019 (1000 p)                  0
Population difference (%)                 0
Poultry quantity (%)                      0
Poultry Meat Production (1000 tonnes)     2
Country Name                              0
Country Code                              0
GDP per capita                            0
Region                                    0
dtype: int64

In [65]:
new_data_pib[new_data_pib['Poultry Meat Production (1000 tonnes)'].isnull()]

,Area Code,Area,Year,Food supply (kcal/capita/day),Protein supply quantity (g/capita/day),Animal protein (%),population 2017,population 2019 (1000 p),Population difference (%),Poultry quantity (%),Poultry Meat Production (1000 tonnes),Country Name,Country Code,GDP per capita,Region
47,72,Djibouti,2019,2795.0,65.93,7.191413,944,974,3.177966,0.824643,NaN,Djibouti,DJI,3414.916178,Middle East & North Africa
93,132,Maldives,2019,2212.0,80.01,24.773960,496,531,7.056452,3.901533,NaN,Maldives,MDV,10561.613511,South Asia

In [66]:
new_data_pib.fillna(0,inplace=True)

In [67]:
new_data_pib = new_data_pib.round(3)

In [68]:
new_data_pib.drop(columns=['Country Name'], inplace=True)

In [69]:
new_data_pib.to_csv('data\\new_data_pib2.csv',index=False)